<%= form_for @directory, :html => { :class => "form-horizontal directory", target: "_blank"  } do |f| %>

<% if @directory.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@directory.errors.count, "error") %> prohibited this directory from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @directory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <div class="form-group">
          <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field :name, :class => 'form-control' %>
          <%=f.error_span(:name) %>
        </div>
        <div class="form-group">
          <%= f.label :category_directory_id, :class => 'control-label' %>
          <%= f.select :category_directory_id, CategoryDirectory.all.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2 category-select",required: true %>
          <%=f.error_span(:category_id) %>
        </div>
        <div class="form-group">
          <%= f.label :description, :class => 'control-label' %>
          <%= f.text_area :description, :class => 'form-control' %>
          <%=f.error_span(:description) %>
        </div>
        <div class="form-group">
          <%= f.label :address, :class => 'control-label' %>
          <%= f.text_area :address, :class => 'form-control' %>
          <%=f.error_span(:address) %>
        </div>

        <div class="form-group">
          <%= f.label :map, :class => 'control-label' %>
          <%= f.text_area :map, :class => 'form-control' %>
          <%=f.error_span(:map) %>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= f.label :phonenumber, :class => 'control-label' %>
              <%= f.text_field :phonenumber, :class => 'form-control' %>
              <%=f.error_span(:phonenumber) %>
            </div>
          </div>


          <div class="col">
            <div class="form-group">
              <%= f.label :instagram, :class => 'control-label' %>
              <%= f.text_field :instagram, :class => 'form-control' %>
              <%=f.error_span(:instagram) %>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <%= f.label :facebook, :class => 'control-label' %>
              <%= f.text_field :facebook, :class => 'form-control' %>
              <%=f.error_span(:facebook) %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.label :twitter, :class => 'control-label' %>
              <%= f.text_field :twitter, :class => 'form-control' %>
              <%=f.error_span(:twitter) %>
            </div>
          </div>


          <div class="col">
            <div class="form-group">
              <%= f.label :website, :class => 'control-label' %>
              <%= f.text_field :website, :class => 'form-control' %>
              <%=f.error_span(:website) %>
            </div>

          </div>

        </div>








        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <%= f.submit nil, :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            directories_path, :class => 'btn btn-default' %>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<% end %>
