<%- model_class = Category -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Banner Page Category</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">

  <div class="accordion" id="accordionExample">
    <% @categories.main_category.each do |x| %>
    <div class="card">
      <div class="card-header bg-dark d-flex align-items-center justify-content-between" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link text-light" type="button" data-toggle="collapse" data-target="#<%= x.slug %>" aria-expanded="true" aria-controls="<%= x.slug %>">
            <%= x.title %>
          </button>
        </h2>
        <div class="d-block">

          <button type="button" name="button" class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#<%= x.slug %>" aria-expanded="true" aria-controls="<%= x.slug %>">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div id="<%= x.slug %>" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row w-100">
            <div class="col-md-6">
              <div class="card w-100">
                <div class="card-body w-100">
                  <div class="row w-100">
                    <div class="col-md-12">
                      <h4>Square Banner - <b> In List Category </b></h4>
                    </div>

                    <div class="col-md-12">
                      <%= form_for Event.new, :html => { :class => "form-horizontal banner" } do |f| %>
                      <div class="row w-100">
                        <div class="col-md-6 text-center">
                          <div class="form-group">
                            <div id="checkimagepop4<%= x.id %>">
                              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
                            </div>
                            <div id="checkwidgetpop4<%= x.id %>">
                              <%= f.text_area :content, :class => 'form-control text-square' %>
                              <%=f.error_span(:content) %>
                            </div>
                          </div>
                          <div class="form-group">
                            <button type="button" name="button" class="btn btn-outline-info" id="btnimagepop4<%= x.id %>">Image</button>
                            <button type="button" name="button" class="btn btn-outline-danger" id="btnwidgetpop4<%= x.id %>">Widget</button>
                          </div>
                          <script type="text/javascript">
                            $('#checkwidgetpop4<%= x.id %>').hide();
                            $('#btnimagepop4<%= x.id %>').hide();
                          </script>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <%= f.label :title, :class => 'control-label' %>
                            <%= f.text_field :title, :class => 'form-control', :required => true %>
                            <%=f.error_span(:title) %>
                          </div>

                          <div class="form-group ">
                            <%= f.label :start_date, :class => 'control-label' %>
                            <%= f.date_field :start_date, :class => 'form-control' %>
                            <%=f.error_span(:start_date) %>
                          </div>

                          <div class="form-">
                            <%= f.label :end_date, :class => 'control-label' %>
                            <%= f.date_field :end_date, :class => 'form-control' %>
                            <%=f.error_span(:end_date) %>
                          </div>




                          <div class="form-group">
                            <%= f.label :slug, "url", :class => 'control-label' %>
                            <%= f.text_field :slug, :class => 'form-control',:required => true %>
                            <%=f.error_span(:slug) %>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <%= f.hidden_field :position, :value => 'pop', :class => 'form-control',:required => true %>
                            <%= f.submit 'Save', :class => 'btn btn-success' %>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    </div>

                    <script type="text/javascript">
                      $(document).ready(function() {
                        $('#btnwidgetpop4<%= x.id %>').click(function() {
                          $('#checkimagepop4<%= x.id %>').hide();
                          $('#btnwidgetpop4<%= x.id %>').hide();
                          $('#checkwidgetpop4<%= x.id %>').show();
                          $('#btnimagepop4<%= x.id %>').show();
                        });
                        $('#btnimagepop4<%= x.id %>').click(function() {
                          $('#checkimagepop4<%= x.id %>').show();
                          $('#btnwidgetpop4<%= x.id %>').show();
                          $('#checkwidgetpop4<%= x.id %>').hide();
                          $('#btnimagepop4<%= x.id %>').hide();
                        });
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card w-100">
                <div class="card-body w-100">
                  <div class="row w-100">
                    <div class="col-md-12">
                      <h4>Square Banner - <b> In List Category </b></h4>
                    </div>

                    <div class="col-md-12">
                      <%= form_for Event.new, :html => { :class => "form-horizontal banner" } do |f| %>
                      <div class="row w-100">
                        <div class="col-md-6 text-center">
                          <div class="form-group">
                            <div id="checkimagepop5<%= x.id %>">
                              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
                            </div>
                            <div id="checkwidgetpop5<%= x.id %>">
                              <%= f.text_area :content, :class => 'form-control text-square' %>
                              <%=f.error_span(:content) %>
                            </div>
                          </div>
                          <div class="form-group">
                            <button type="button" name="button" class="btn btn-outline-info" id="btnimagepop5<%= x.id %>">Image</button>
                            <button type="button" name="button" class="btn btn-outline-danger" id="btnwidgetpop5<%= x.id %>">Widget</button>
                          </div>
                          <script type="text/javascript">
                            $('#checkwidgetpop5<%= x.id %>').hide();
                            $('#btnimagepop5<%= x.id %>').hide();
                          </script>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <%= f.label :title, :class => 'control-label' %>
                            <%= f.text_field :title, :class => 'form-control', :required => true %>
                            <%=f.error_span(:title) %>
                          </div>

                          <div class="form-group ">
                            <%= f.label :start_date, :class => 'control-label' %>
                            <%= f.date_field :start_date, :class => 'form-control' %>
                            <%=f.error_span(:start_date) %>
                          </div>

                          <div class="form-">
                            <%= f.label :end_date, :class => 'control-label' %>
                            <%= f.date_field :end_date, :class => 'form-control' %>
                            <%=f.error_span(:end_date) %>
                          </div>




                          <div class="form-group">
                            <%= f.label :slug, "url", :class => 'control-label' %>
                            <%= f.text_field :slug, :class => 'form-control',:required => true %>
                            <%=f.error_span(:slug) %>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <%= f.hidden_field :position, :value => 'pop', :class => 'form-control',:required => true %>
                            <%= f.submit 'Save', :class => 'btn btn-success' %>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    </div>

                    <script type="text/javascript">
                      $(document).ready(function() {
                        $('#btnwidgetpop5<%= x.id %>').click(function() {
                          $('#checkimagepop5<%= x.id %>').hide();
                          $('#btnwidgetpop5<%= x.id %>').hide();
                          $('#checkwidgetpop5<%= x.id %>').show();
                          $('#btnimagepop5<%= x.id %>').show();
                        });
                        $('#btnimagepop5<%= x.id %>').click(function() {
                          $('#checkimagepop5<%= x.id %>').show();
                          $('#btnwidgetpop5<%= x.id %>').show();
                          $('#checkwidgetpop5<%= x.id %>').hide();
                          $('#btnimagepop5<%= x.id %>').hide();
                        });
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>

</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.table').DataTable();
  } );
</script>
