
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Homepage and Global Banner </h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item">Banner Homepage</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  .text-square{
    height:264px;
  }
  .text-landscape{
    height:164px;
  }
</style>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="card w-100">
      <div class="card-body w-100">
        <div class="row ">
          <div class="col-md-12">
            <h4>Long Banner - <b> Under Featured </b></h4>
          </div>

          <div class="col-md-12">
            <%= form_for Event.new, :html => { :class => "form-horizontal banner" } do |f| %>
            <div class="row w-100">
              <div class="col-md-12">
                <div class="form-group">
                  <div id="checkimagepop1">
                    <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
                  </div>
                  <div id="checkwidgetpop1">
                    <%= f.text_area :content, :class => 'form-control text-square' %>
                    <%=f.error_span(:content) %>
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" name="button" class="btn btn-outline-info" id="btnimagepop1">Image</button>
                  <button type="button" name="button" class="btn btn-outline-danger" id="btnwidgetpop1">Widget</button>
                </div>
                <script type="text/javascript">
                  $('#checkwidgetpop1').hide();
                  $('#btnimagepop1').hide();
                </script>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :title, :class => 'control-label' %>
                  <%= f.text_field :title, :class => 'form-control', :required => true %>
                  <%=f.error_span(:title) %>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group ">
                      <%= f.label :start_date, :class => 'control-label' %>
                      <%= f.date_field :start_date, :class => 'form-control' %>
                      <%=f.error_span(:start_date) %>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-">
                      <%= f.label :end_date, :class => 'control-label' %>
                      <%= f.date_field :end_date, :class => 'form-control' %>
                      <%=f.error_span(:end_date) %>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <%= f.label :slug, "url", :class => 'control-label' %>
                  <%= f.text_field :slug, :class => 'form-control',:required => true %>
                  <%=f.error_span(:slug) %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.hidden_field :position, :value => 'pop', :class => 'form-control',:required => true %>
                  <%= f.submit 'Save', :class => 'btn btn-success' %>
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <script type="text/javascript">
            $(document).ready(function() {
              $('#btnwidgetpop1').click(function() {
                $('#checkimagepop1').hide();
                $('#btnwidgetpop1').hide();
                $('#checkwidgetpop1').show();
                $('#btnimagepop1').show();
              });
              $('#btnimagepop1').click(function() {
                $('#checkimagepop1').show();
                $('#btnwidgetpop1').show();
                $('#checkwidgetpop1').hide();
                $('#btnimagepop1').hide();
              });
            });
          </script>
        </div>
      </div>
    </div>

    <div class="card w-100">
      <div class="card-body w-100">
        <div class="row ">
          <div class="col-md-12">
            <h4>Long Banner - <b> Under Second Featured </b></h4>
          </div>

          <div class="col-md-12">
            <%= form_for Event.new, :html => { :class => "form-horizontal banner" } do |f| %>
            <div class="row w-100">
              <div class="col-md-12">
                <div class="form-group">
                  <div id="checkimagepop2">
                    <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
                  </div>
                  <div id="checkwidgetpop2">
                    <%= f.text_area :content, :class => 'form-control text-square' %>
                    <%=f.error_span(:content) %>
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" name="button" class="btn btn-outline-info" id="btnimagepop2">Image</button>
                  <button type="button" name="button" class="btn btn-outline-danger" id="btnwidgetpop2">Widget</button>
                </div>
                <script type="text/javascript">
                  $('#checkwidgetpop2').hide();
                  $('#btnimagepop2').hide();
                </script>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :title, :class => 'control-label' %>
                  <%= f.text_field :title, :class => 'form-control', :required => true %>
                  <%=f.error_span(:title) %>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group ">
                      <%= f.label :start_date, :class => 'control-label' %>
                      <%= f.date_field :start_date, :class => 'form-control' %>
                      <%=f.error_span(:start_date) %>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-">
                      <%= f.label :end_date, :class => 'control-label' %>
                      <%= f.date_field :end_date, :class => 'form-control' %>
                      <%=f.error_span(:end_date) %>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <%= f.label :slug, "url", :class => 'control-label' %>
                  <%= f.text_field :slug, :class => 'form-control',:required => true %>
                  <%=f.error_span(:slug) %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.hidden_field :position, :value => 'pop', :class => 'form-control',:required => true %>
                  <%= f.submit 'Save', :class => 'btn btn-success' %>
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <script type="text/javascript">
            $(document).ready(function() {
              $('#btnwidgetpop2').click(function() {
                $('#checkimagepop2').hide();
                $('#btnwidgetpop2').hide();
                $('#checkwidgetpop2').show();
                $('#btnimagepop2').show();
              });
              $('#btnimagepop2').click(function() {
                $('#checkimagepop2').show();
                $('#btnwidgetpop2').show();
                $('#checkwidgetpop2').hide();
                $('#btnimagepop2').hide();
              });
            });
          </script>
        </div>
      </div>
    </div>

    <div class="card w-100">
      <div class="card-body w-100">
        <div class="row ">
          <div class="col-md-12">
            <h4>Long Banner - <b> Under Calendar of Event </b></h4>
          </div>

          <div class="col-md-12">
            <%= form_for Event.new, :html => { :class => "form-horizontal banner" } do |f| %>
            <div class="row w-100">
              <div class="col-md-12">
                <div class="form-group">
                  <div id="checkimagepop3">
                    <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
                  </div>
                  <div id="checkwidgetpop3">
                    <%= f.text_area :content, :class => 'form-control text-square' %>
                    <%=f.error_span(:content) %>
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" name="button" class="btn btn-outline-info" id="btnimagepop3">Image</button>
                  <button type="button" name="button" class="btn btn-outline-danger" id="btnwidgetpop3">Widget</button>
                </div>
                <script type="text/javascript">
                  $('#checkwidgetpop3').hide();
                  $('#btnimagepop3').hide();
                </script>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :title, :class => 'control-label' %>
                  <%= f.text_field :title, :class => 'form-control', :required => true %>
                  <%=f.error_span(:title) %>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group ">
                      <%= f.label :start_date, :class => 'control-label' %>
                      <%= f.date_field :start_date, :class => 'form-control' %>
                      <%=f.error_span(:start_date) %>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-">
                      <%= f.label :end_date, :class => 'control-label' %>
                      <%= f.date_field :end_date, :class => 'form-control' %>
                      <%=f.error_span(:end_date) %>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <%= f.label :slug, "url", :class => 'control-label' %>
                  <%= f.text_field :slug, :class => 'form-control',:required => true %>
                  <%=f.error_span(:slug) %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.hidden_field :position, :value => 'pop', :class => 'form-control',:required => true %>
                  <%= f.submit 'Save', :class => 'btn btn-success' %>
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <script type="text/javascript">
            $(document).ready(function() {
              $('#btnwidgetpop3').click(function() {
                $('#checkimagepop3').hide();
                $('#btnwidgetpop3').hide();
                $('#checkwidgetpop3').show();
                $('#btnimagepop3').show();
              });
              $('#btnimagepop3').click(function() {
                $('#checkimagepop3').show();
                $('#btnwidgetpop3').show();
                $('#checkwidgetpop3').hide();
                $('#btnimagepop3').hide();
              });
            });
          </script>
        </div>
      </div>
    </div>

    <div class="row w-100">
      <div class="col-md-6">
        <div class="card w-100">
          <div class="card-body w-100">
            <div class="row w-100">
              <div class="col-md-12">
                <h4>Square Banner - <b> Side Banner Latest </b></h4>
              </div>

              <div class="col-md-12">
                <%= form_for Event.new, :html => { :class => "form-horizontal banner" } do |f| %>
                <div class="row w-100">
                  <div class="col-md-6 text-center">
                    <div class="form-group">
                      <div id="checkimagepop4">
                        <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
                      </div>
                      <div id="checkwidgetpop4">
                        <%= f.text_area :content, :class => 'form-control text-square' %>
                        <%=f.error_span(:content) %>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="button" name="button" class="btn btn-outline-info" id="btnimagepop4">Image</button>
                      <button type="button" name="button" class="btn btn-outline-danger" id="btnwidgetpop4">Widget</button>
                    </div>
                    <script type="text/javascript">
                      $('#checkwidgetpop4').hide();
                      $('#btnimagepop4').hide();
                    </script>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :title, :class => 'control-label' %>
                      <%= f.text_field :title, :class => 'form-control', :required => true %>
                      <%=f.error_span(:title) %>
                    </div>

                    <div class="form-group ">
                      <%= f.label :start_date, :class => 'control-label' %>
                      <%= f.date_field :start_date, :class => 'form-control' %>
                      <%=f.error_span(:start_date) %>
                    </div>

                    <div class="form-">
                      <%= f.label :end_date, :class => 'control-label' %>
                      <%= f.date_field :end_date, :class => 'form-control' %>
                      <%=f.error_span(:end_date) %>
                    </div>




                    <div class="form-group">
                      <%= f.label :slug, "url", :class => 'control-label' %>
                      <%= f.text_field :slug, :class => 'form-control',:required => true %>
                      <%=f.error_span(:slug) %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.hidden_field :position, :value => 'pop', :class => 'form-control',:required => true %>
                      <%= f.submit 'Save', :class => 'btn btn-success' %>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <script type="text/javascript">
                $(document).ready(function() {
                  $('#btnwidgetpop4').click(function() {
                    $('#checkimagepop4').hide();
                    $('#btnwidgetpop4').hide();
                    $('#checkwidgetpop4').show();
                    $('#btnimagepop4').show();
                  });
                  $('#btnimagepop4').click(function() {
                    $('#checkimagepop4').show();
                    $('#btnwidgetpop4').show();
                    $('#checkwidgetpop4').hide();
                    $('#btnimagepop4').hide();
                  });
                });
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card w-100">
          <div class="card-body w-100">
            <div class="row w-100">
              <div class="col-md-12">
                <h4>Square Banner - <b> Side Banner Latest </b></h4>
              </div>

              <div class="col-md-12">
                <%= form_for Event.new, :html => { :class => "form-horizontal banner" } do |f| %>
                <div class="row w-100">
                  <div class="col-md-6 text-center">
                    <div class="form-group">
                      <div id="checkimagepop5">
                        <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
                      </div>
                      <div id="checkwidgetpop5">
                        <%= f.text_area :content, :class => 'form-control text-square' %>
                        <%=f.error_span(:content) %>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="button" name="button" class="btn btn-outline-info" id="btnimagepop5">Image</button>
                      <button type="button" name="button" class="btn btn-outline-danger" id="btnwidgetpop5">Widget</button>
                    </div>
                    <script type="text/javascript">
                      $('#checkwidgetpop5').hide();
                      $('#btnimagepop5').hide();
                    </script>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :title, :class => 'control-label' %>
                      <%= f.text_field :title, :class => 'form-control', :required => true %>
                      <%=f.error_span(:title) %>
                    </div>

                    <div class="form-group ">
                      <%= f.label :start_date, :class => 'control-label' %>
                      <%= f.date_field :start_date, :class => 'form-control' %>
                      <%=f.error_span(:start_date) %>
                    </div>

                    <div class="form-">
                      <%= f.label :end_date, :class => 'control-label' %>
                      <%= f.date_field :end_date, :class => 'form-control' %>
                      <%=f.error_span(:end_date) %>
                    </div>




                    <div class="form-group">
                      <%= f.label :slug, "url", :class => 'control-label' %>
                      <%= f.text_field :slug, :class => 'form-control',:required => true %>
                      <%=f.error_span(:slug) %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.hidden_field :position, :value => 'pop', :class => 'form-control',:required => true %>
                      <%= f.submit 'Save', :class => 'btn btn-success' %>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <script type="text/javascript">
                $(document).ready(function() {
                  $('#btnwidgetpop5').click(function() {
                    $('#checkimagepop5').hide();
                    $('#btnwidgetpop5').hide();
                    $('#checkwidgetpop5').show();
                    $('#btnimagepop5').show();
                  });
                  $('#btnimagepop5').click(function() {
                    $('#checkimagepop5').show();
                    $('#btnwidgetpop5').show();
                    $('#checkwidgetpop5').hide();
                    $('#btnimagepop5').hide();
                  });
                });
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card w-100">
          <div class="card-body w-100">
            <div class="row w-100">
              <div class="col-md-12">
                <h4>Square Banner - <b> Side Banner Latest </b></h4>
              </div>

              <div class="col-md-12">
                <%= form_for Event.new, :html => { :class => "form-horizontal banner" } do |f| %>
                <div class="row w-100">
                  <div class="col-md-6 text-center">
                    <div class="form-group">
                      <div id="checkimagepop6">
                        <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
                      </div>
                      <div id="checkwidgetpop6">
                        <%= f.text_area :content, :class => 'form-control text-square' %>
                        <%=f.error_span(:content) %>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="button" name="button" class="btn btn-outline-info" id="btnimagepop6">Image</button>
                      <button type="button" name="button" class="btn btn-outline-danger" id="btnwidgetpop6">Widget</button>
                    </div>
                    <script type="text/javascript">
                      $('#checkwidgetpop6').hide();
                      $('#btnimagepop6').hide();
                    </script>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :title, :class => 'control-label' %>
                      <%= f.text_field :title, :class => 'form-control', :required => true %>
                      <%=f.error_span(:title) %>
                    </div>

                    <div class="form-group ">
                      <%= f.label :start_date, :class => 'control-label' %>
                      <%= f.date_field :start_date, :class => 'form-control' %>
                      <%=f.error_span(:start_date) %>
                    </div>

                    <div class="form-">
                      <%= f.label :end_date, :class => 'control-label' %>
                      <%= f.date_field :end_date, :class => 'form-control' %>
                      <%=f.error_span(:end_date) %>
                    </div>




                    <div class="form-group">
                      <%= f.label :slug, "url", :class => 'control-label' %>
                      <%= f.text_field :slug, :class => 'form-control',:required => true %>
                      <%=f.error_span(:slug) %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.hidden_field :position, :value => 'pop', :class => 'form-control',:required => true %>
                      <%= f.submit 'Save', :class => 'btn btn-success' %>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <script type="text/javascript">
                $(document).ready(function() {
                  $('#btnwidgetpop6').click(function() {
                    $('#checkimagepop6').hide();
                    $('#btnwidgetpop6').hide();
                    $('#checkwidgetpop6').show();
                    $('#btnimagepop6').show();
                  });
                  $('#btnimagepop6').click(function() {
                    $('#checkimagepop6').show();
                    $('#btnwidgetpop6').show();
                    $('#checkwidgetpop6').hide();
                    $('#btnimagepop6').hide();
                  });
                });
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card w-100">
          <div class="card-body w-100">
            <div class="row w-100">
              <div class="col-md-12">
                <h4>Square Banner - <b> Side Banner Latest </b></h4>
              </div>

              <div class="col-md-12">
                <%= form_for Event.new, :html => { :class => "form-horizontal banner" } do |f| %>
                <div class="row w-100">
                  <div class="col-md-6 text-center">
                    <div class="form-group">
                      <div id="checkimagepop7">
                        <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
                      </div>
                      <div id="checkwidgetpop7">
                        <%= f.text_area :content, :class => 'form-control text-square' %>
                        <%=f.error_span(:content) %>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="button" name="button" class="btn btn-outline-info" id="btnimagepop7">Image</button>
                      <button type="button" name="button" class="btn btn-outline-danger" id="btnwidgetpop7">Widget</button>
                    </div>
                    <script type="text/javascript">
                      $('#checkwidgetpop7').hide();
                      $('#btnimagepop7').hide();
                    </script>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :title, :class => 'control-label' %>
                      <%= f.text_field :title, :class => 'form-control', :required => true %>
                      <%=f.error_span(:title) %>
                    </div>

                    <div class="form-group ">
                      <%= f.label :start_date, :class => 'control-label' %>
                      <%= f.date_field :start_date, :class => 'form-control' %>
                      <%=f.error_span(:start_date) %>
                    </div>

                    <div class="form-">
                      <%= f.label :end_date, :class => 'control-label' %>
                      <%= f.date_field :end_date, :class => 'form-control' %>
                      <%=f.error_span(:end_date) %>
                    </div>




                    <div class="form-group">
                      <%= f.label :slug, "url", :class => 'control-label' %>
                      <%= f.text_field :slug, :class => 'form-control',:required => true %>
                      <%=f.error_span(:slug) %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.hidden_field :position, :value => 'pop', :class => 'form-control',:required => true %>
                      <%= f.submit 'Save', :class => 'btn btn-success' %>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>

              <script type="text/javascript">
                $(document).ready(function() {
                  $('#btnwidgetpop7').click(function() {
                    $('#checkimagepop7').hide();
                    $('#btnwidgetpop7').hide();
                    $('#checkwidgetpop7').show();
                    $('#btnimagepop7').show();
                  });
                  $('#btnimagepop7').click(function() {
                    $('#checkimagepop7').show();
                    $('#btnwidgetpop7').show();
                    $('#checkwidgetpop7').hide();
                    $('#btnimagepop7').hide();
                  });
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
