
<% if current_user.is_admin? %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Audience This Month vs Last Month</h4>
      <div class="mw-100" style="overflow-x: scroll">
        <iframe width="1917" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQKikODv9oIFwPAKHmpYCZgaaPQ7gYlsTUXxtlKKXPngf8lWTCKtKZZhDtbt1FSsmHrbaST6HE8sOJt/pubchart?oid=717936354&amp;format=interactive"></iframe>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="page-header">
        <h4>Waiting Approval</h4>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @waiting.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.category.title %></td>
            <td><%= article.user.username rescue '-' %></td>
            <td><%= article.created_at.strftime("%e %B %Y @%H:%M") rescue "-" %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
              article_path(article), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(article), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(article),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="page-header">
        <h4>Draft Article</h4>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @drft_articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.category.title %></td>
            <td><%= article.user.username rescue '-' %></td>
            <td><%= article.created_at.strftime("%e %B %Y @%H:%M") rescue "-" %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
              article_path(article), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(article), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(article),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="page-header">
        <h4>On Schedule Article</h4>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @on_schedule.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.category.title %></td>
            <td><%= article.user.username rescue '-' %></td>
            <td><%= article.created_at.strftime("%e %B %Y @%H:%M") rescue "-" %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
              article_path(article), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(article), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(article),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


</div>


<% else %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="page-header">
        <h4>Waiting Approval</h4>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @waiting.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.category.title %></td>
            <td><%= article.user.username rescue '-' %></td>
            <td><%= article.created_at.strftime("%e %B %Y @%H:%M") rescue "-" %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
              article_path(article), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(article), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(article),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


</div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.table').DataTable();
  } );
</script>
