

body{
  font-family: 'Lato', sans-serif;
}

section{
  padding: 30px 0;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1.25rem;
}
a{
  color: #03a8a1;
}


p{
  color: #a3a3a3;
}
article p{
  color: #3c3c3c;
}

a:hover{
  color: #ffbe04;
  text-decoration: none;
}
.row-custom{
  margin: 0 -10px
}
.p-10{
  padding: 10px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px !important;
}

.mb-30{
  margin-bottom: 30px;
}

.mt-40{
  margin-top: 40px;
}

.category-title h1,.category-title h3{
  color: #03a8a1;
  font-weight: 700 !important;
}


.text-green{
  color: #03a8a1 !important;
}
.text-yellow{
  color: #ffbe04 !important;
}

.text-white{
  color: white !important;
}

.title{
  color: #ffbe04;
}

.btn-primary{
  color: #fff;
  background-color: #03a8a1;
  border-color: #03a8a1;
}


.btn-primary:hover, .btn-primary:active{
  color: #03a8a1;
  background-color: transparent;
  background-image: none;
  border-color: #03a8a1;
}

.btn-yellow{
  color: #fff;
  background-color: #ffbe04;
  border-color: #ffbe04;
}


.btn-yellow:hover, .btn-yellow:active{
  color: #ffbe04;
  background-color: transparent;
  background-image: none;
  border-color: #ffbe04;
}

.btn-outline-primary {
  border: 2px solid #03a8a1;
  color: #03a8a1;
  background-color: transparent;
  background-image: none;
}

.btn-outline-primary:hover, .btn-outline-primary:active{
  color: #fff;
  background-color: #03a8a1;
  border-color: #03a8a1;
}

.btn-outline-yellow {
  border: 2px solid  #03a8a1;
  color:  #03a8a1;
  background-color: transparent;
  background-image: none;
}

.btn-outline-yellow:hover, .btn-outline-yellow:active{
  color: #fff;
  background-color:  #ffbe04;
  border-color:  #ffbe04;
}

.frame{
  padding: 10px;
  border: 1px solid #eee;
}

.no-border{
  border: none;
}

.no-padding-right{
  padding-right: 0
}

.no-padding-left{
  padding-left: 0
}
/* navi */
.navbar-brand img{
  max-height: 90px;
  padding: 3px 0;
}

.navbar-light .navbar-nav.active>.nav-link, .navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color:#ffbe04;
}

.navbar-light .navbar-nav .nav-link {
  color: #03a8a1;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
}

.ftr-category{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background: rgba(255, 190, 4, 0.6);
  color: white;
}

.ftr-title{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: rgba(3, 168, 161, 0.6);
  color: white;
}

.ftr-title h3 a, .ftr-title h5 a{
  color: white;
  font-size: 0.75em;
}

#main-category h4{
  color: #ffbe04;
}

#main-category span{
  color: grey;
  margin-bottom: 10px;
  display: block;
}
#main-category p{
  color: #a3a3a3;
  margin-bottom: 10px;
}

.datepicker {
  z-index: 9999 !important;
  padding: 20px;
  border: 2px solid #fdc200;
}

.datepicker-dropdown.datepicker-orient-top:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #fdc200;

}
.datepicker-inline{
  margin: auto;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  background: none;
  cursor: default;
}


.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
  background: white;
  cursor: pointer;
}

.datepicker table tr td.active.active{
  background-color: #03a8a1 !important;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover{
  background-color: #03a8a1 !important;
}

#coe .event-detail a {
  color:#a3a3a3;
  font-size: 20px;
}

#coe .event-detail a  span {
  color: #fdc200;
  font-weight: 700;
  font-size: 14px;
}

.main-video{
  margin-bottom: 20px;
}
.list-video{
  height: 326px;
  overflow-y: scroll;
}
.list-video .media{
  margin-bottom: 20px;
}
.list-article{
  padding: 0;
  list-style: none;
}

.list-article .media{
  margin-bottom: 20px;
}

.list-article span{
  color: grey;
  margin-bottom: 10px;
  display: block;
}
.list-article p{
  color: #a3a3a3;
  margin-bottom: 10px;
}

#footer{
  border-top: 3px solid #ffbe04;
  background: #e6e6e6;
}
.copyright{
  background-color:#03a8a1;
  padding: 5px 0;
  color: white;
}

.event-date{
  padding: 10px;
  border-left: 10px solid #03a8a1;
}
.event-date p{
  margin-bottom: 0;
  color: #03a8a1;
}

.event-date span.category{
  color: #ffbe04;
  font-weight: 500;
}

.event-date span.divider{
  color: #03a8a1;
  font-weight: 700;
}

.share-btn .sosmed-icon{
  margin-right:10px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 100%;
  height: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: red;
  color: black;
}

.flip-card-back {
  background-color: #03a8a1;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p{

  color: white;

}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #fec100;
  border-color: #fec100;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #03a8a1;
  background-color: #fff;
}

.page-link:hover {
  z-index: 2;
  color: #03a8a1;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.search-input{
  border:none;
  border-bottom:3px solid #00a99f;
  border-radius:0;
  padding-left:0;
  width: 96.5%;
}
.activeClass{
  background-color: #fdf59a;
}
.bg-ylw{
  background:#ffbe04;
  color: #03a8a1;

}
.bg-ylw:hover{
  background:#03a8a1;
  color: #ffbe04;
}

.bg-green{
  background:#03a8a1;
  color: #ffbe04;

}
.bg-green:hover{
  background: #ffbe04;
  color: #03a8a1;
}

.bg-green a{
  color: #ffbe04 !important;

}
.bg-green:hover a{

  color: #03a8a1 !important;
}

#small-logo{
  display: none;
}

.visible{
  opacity: 1 !important;
}

.image-captioned figcaption{
  font-size:  12px;
  color: gray;
  text-align: center;
}

article img{
  max-width: 100%;
  height: auto !important;
  margin: auto;
  text-align: center;
  display: block;
}

article h2, article h3{
  font-size: 23px;
  font-weight: 900;
  color: #03a8a1;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  transition: all 0.3s;
  position: absolute;
  height: 100vh;
  top: 0;
  background: white;
  transition: all 0.3s;
  display: none;
}

#sidebar.show {
  display: block;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: white;
}

#sidebar ul.components {
  padding: 20px 0;

}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

.navbar-collapse.collapsing .navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -75%;
        transition: all 0.2s ease;
    }

    .navbar-collapse.show .navbar-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        height: auto;
        width: 75% !important;
        transition: left 0.35s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background: white;
    }

.username{
  font-size: 1.5rem;
}
