@media (max-width: 575.98px) {
  .navbar-light .navbar-nav .nav-link {

    padding: 10px 10px;
  }

  .navbar-brand img {
    max-height: 60px;
    padding: 3px 0;
  }
  .category-title h1{
    font-size: 2rem;
  }
  .event-date p {
    margin-bottom: 0;
    color: #03a8a1;
    font-size: 12px;
  }
  .share-btn .sosmed-icon {
    margin-right: 10px;
    font-size: 12px;
  }

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #small-logo{
    display:none;
  }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-light .navbar-nav .nav-link {

    padding: 10px 10px;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #navbarSupportedContent{
    display: none !important;
  }

}
