<div class="row">
  <% if @article.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<%= form_for @article, :html => { :class => "form-horizontal article", target: "_blank",onsubmit:"javascript: setTimeout(function(){location.reload();}, 100);return true;"   } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :title, :class => 'control-label' %>
            <%= f.text_field :title, :class => 'form-control', required: true %>
            <%=f.error_span(:title) %>
          </div>
          <% unless @article.new_record? %>
            <div class="form-group">
              <%= f.label :slug, :class => 'control-label' %>
              <%= f.text_field :slug, :class => 'form-control' %>
              <%=f.error_span(:slug) %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :metades, :class => 'control-label' %>
            <%= f.text_area :metades, :class => 'form-control' %>
            <%=f.error_span(:metades) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :image, "Thumbail Article", :class => 'control-label' %>
            <% if @article.image.nil? || @article.image.blank? %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
            <% else %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @article.image.url %>
            <% end %>
            <%=f.error_span(:image) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :status, :class => 'control-label' %>
                <% if current_user.is_writer? %>
                <%= f.select :status, Article::StatusWriter.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
                  <% else %>
                  <%= f.select :status, Article::Status.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
                <% end %>
                <%=f.error_span(:status) %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <%= f.label :category_id, :class => 'control-label' %>
                <%= f.select :category_id, Category.all.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
                <%=f.error_span(:category_id) %>
              </div>
            </div>
            <div class="col">
            <%= f.label :category_id,"Set New Category", :class => 'control-label' %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Create New Category
            </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :directory_id, :class => 'control-label' %>
                <%= f.select :directory_id, Directory.all.map {|s| [s.name, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2 drc"%>
                <%=f.error_span(:directory_id) %>
              </div>
            </div>
            <div class="col">
            <%= f.label :category_id,"Set New Directory", :class => 'control-label' %> <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModaldirectory">
              Create New Directory
            </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="publish">Publish Date</label>
                <% if @article.new_record? %>
                  <%= f.datetime_field :publish, :class => 'form-control ', required:true %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                <% else %>
                  <%= f.datetime_field :publish, :class => 'form-control', required:true %>
                <% end %>
                <%=f.error_span(:publish) %>
              </div>
            </div>

            <div class="col">
              <%# f.select :tag_list, @article.tag_list.map {|x|},{},class:"hai", :value => @article.tag_list.join(", "), multiple:true %>
              <label for="">Tags</label>
              <%= f.text_field :tag_list, :class => 'hai', :value => @article.tag_list.join(",") %>
              <%=  @article.tag_list %>
            </div>

          </div>
          <div class="row">

          </div>
          <div class="row mt-2">
            <div class="col text-center">
              <div class="form-group">
                   <% if @article.new_record? %>
                 <%= f.submit "Preview", :class => 'btn btn-success prvs', :class => 'btn btn-success prvs',onClick: "window.location.reload();", name:"preview" %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                <% else %>
                 <%= f.submit "Preview", :class => 'btn btn-success prvs',onClick: "window.location.reload();", name:"preview" %>
                <% end %>

                <%= f.submit "Publish", :class => 'btn btn-outline-info' %>
                <a data-confirm="Heads Up, Semua data yang di ubah tidak akan tersimpan! Apakah anda yakin?" class="btn btn-danger" href="<%= articles_path %>">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body" style="padding: 2rem !important;">
          <div class="form-group">
            <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
            <%=f.error_span(:content) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $('.mydatepicker').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY @HH:mm' });
  $("input[type='checkbox'], input[type='radio']").bootstrapSwitch();
  $(".select2").select2({
  ajax: {
    url: "/all-category",
    dataType: 'json',
    type: "GET",
    delay: 250,
    data: function(params) {
          return { title: params.term }
        },
        processResults: function (data, params) {
          return {
            results: $.map(data, function(value, index){
              return {id: value.id, text: value.title};
            })
          };
        }

  },
  theme: "bootstrap",
  escapeMarkup: function (markup) { return markup; },

  placeholder: "Type to search",
});
  $('.hai').selectize({
    options:[
      <% @article.tag_list.each_with_index do |x, i|  %>
      {value:"<%= x %>", text:"<%= x %>"},
      <% end %>
    ],
    labelField: 'text',
    searchField: 'text',
      delimiter: ',',
      create: function(input) {
          return {
              value: input,
              text: input
          }
      }
  });
</script>


<script type="text/javascript">
$(document).ready(
  function() {
    $('#new_category').on('ajax:success', function(data) {
      $('#new_category')[0].reset();
      $("body").click();
      $('#exampleModal').modal('hide')
      $(".select2").select2({
      ajax: {
        url: "/all-category",
        dataType: 'json',
        type: "GET",
        delay: 250,
        data: function(params) {
              return { title: params.term }
            },
            processResults: function (data, params) {
              return {
                results: $.map(data, function(value, index){
                  return {id: value.id, text: value.title};
                })
              };
            }

      },
      theme: "bootstrap",
      escapeMarkup: function (markup) { return markup; },

      placeholder: "Type to search",
    });
  });
  });


</script>

<script type="text/javascript">
$(document).ready(
  function() {
    $('#new_directory').on('ajax:success', function(data) {
      $('#new_directory')[0].reset();
      $("body").click();
      $('#exampleModaldirectory').modal('hide')
      $(".drc").select2({
      ajax: {
        url: "/directories.json",
        dataType: 'json',
        type: "GET",
        delay: 250,
        data: function(params) {
              return { title: params.term }
            },
            processResults: function (data, params) {
              return {
                results: $.map(data, function(value, index){
                  return {id: value.id, text: value.name};
                })
              };
            }

      },
      theme: "bootstrap",
      escapeMarkup: function (markup) { return markup; },

      placeholder: "Type to search",
    });
  });
  });
</script>

<script type="text/javascript">

$('.form-horizontal').onsubmit = function() {
           window.location.reload();

}
</script>
