<div class="row">
  <% if @article.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
</div>
<%= form_for @article, :html => { :class => "form-horizontal article", target: "_blank",onsubmit:"javascript: setTimeout(function(){location.replace('/backtosetup?id=#{@article.id}');}, 1500);return true;"   } do |f| %>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :title, :class => 'control-label' %>
          <%= f.text_field :title, :class => 'form-control', required: true %>
          <%=f.error_span(:title) %>
        </div>
        <div class="form-group">
          <%= f.label :metades, :class => 'control-label' %>
          <%= f.text_area :metades, :class => 'form-control',rows: 5, required: true %>
          <%=f.error_span(:metades) %>
        </div>
        <div class="form-group">
          <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {toolbar: 'mini'}%>
          <%=f.error_span(:content) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :image, "Thumbail Article", :class => 'control-label' %>
          <% if @article.image.nil? || @article.image.blank? %>
          <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250',required: true %>
          <% else %>
          <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @article.image.url %>
          <% end %>
          <%=f.error_span(:image) %>
        </div>

        <hr>
        <label for="">Category</label>
        <div class="form-group">
          <%= f.collection_select :parent_id, Category.parent.where.not(slug:'event').order(:title), :title , :title, {}, {:class=>'parent_category w-100 form-control mb-2'} %>
          <%= f.grouped_collection_select :category_id, Category.parent.where.not(slug:'event').order(:title), :children, :title, :id , :title, {}, {:class=>'category-select w-100 form-control'} %>
          <%# f.label :category_id,"Set New Category", :class => 'control-label' %> <br>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create New Category
          </button>
        </div>

        <hr>
        <div class="form-group">
          <%= f.label :category_id,"Set New Directory", :class => 'control-label' %> <br>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModaldirectory">
            Create New Directory
          </button>
        </div>
        <div class="form-group">
          <%= f.label :directory_id, :class => 'control-label' %>
          <%= f.select :directory_id, Directory.all.map {|s| [s.name, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2 directory-select"%>
          <%=f.error_span(:directory_id) %>
        </div>
        <hr>
        <div class="form-group">
          <label for="publish">Publish Date</label>
          <% if @article.new_record? %>
          <%= f.datetime_field :publish, :class => 'form-control ', required:true, value: DateTime.now.strftime("%Y-%m-%dT%H:%M") %>

          <% else %>
          <%= f.datetime_field :publish, :class => 'form-control', required:true, value: @article.publish.strftime("%Y-%m-%dT%H:%M") %>
          <% end %>
          <%=f.error_span(:publish) %>
        </div>
        <hr>
        <div class="form-group">
          <label for="">Tags</label>
          <%= f.text_field :tag_list, :class => 'hai', :value => @article.tag_list.join(",") %>
          <%=  @article.tag_list %>
        </div>
        <% if current_user.is_admin? %>
        <hr>
        <label for="">Writer</label>
        <div class="form-group">
          <% if @article.new_record?  %>
          <%= f.select :user_id, User.all.map {|s| [s.full_name, s.id ]},{:include_blank => '-Choose-', :selected => current_user.id }, :class=>"form-control w-100 select2",required: true %>
          <% else %>
          <%= f.select :user_id, User.all.map {|s| [s.full_name, s.id ]},{:include_blank => '-Choose-', :selected => @article.user.id}, :class=>"form-control w-100 select2",required: true %>
          <% end %>
        </div>
        <hr>
        <% else %>
          <%= f.hidden_field :user_id, value: current_user.id %>
        <% end %>



        <div class="form-group">
          <%= f.submit "Preview", :class => 'btn btn-outline-info prvs',onClick: "window.location.open().reload();" %>
          <%= f.submit "Draft", :class => 'btn btn-warning prvs',onClick: "window.location.open().reload();", name:"draft" %>
          <%= f.submit "Publish", :class => 'btn btn-success', name: "publish" %>
          <a data-confirm="Heads Up, Semua data yang di ubah tidak akan tersimpan! Apakah anda yakin?" class="btn btn-outline-danger" href="<%= articles_path %>">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $('.mydatepicker').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY @HH:mm' });
  $("input[type='checkbox'], input[type='radio']").bootstrapSwitch();

  $('.hai').selectize({
    options:[
    <% @article.tag_list.each_with_index do |x, i|  %>
    {value:"<%= x %>", text:"<%= x %>"},
    <% end %>
    ],
    labelField: 'text',
    searchField: 'text',
    delimiter: ',',
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  });
</script>


<script type="text/javascript">
  $(document).ready(
  function() {
    $('#new_category').on('ajax:success', function(data) {
      $('#new_category')[0].reset();
      $("body").click();
      $('#exampleModal').modal('hide')
      $(".category-select").select2({
        ajax: {
          url: "/all-category-article",
          dataType: 'json',
          type: "GET",
          delay: 250,
          data: function(params) {
            return { title: params.term }
          },
          processResults: function (data, params) {
            return {
              results: $.map(data, function(value, index){
                return {id: value.id, text: value.title};
              })
            };
          }

        },
        theme: "bootstrap",
        escapeMarkup: function (markup) { return markup; },

        placeholder: "Type to search",
      });
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(
  function() {
    $('#new_directory').on('ajax:success', function(data) {
      $('#new_directory')[0].reset();
      $("body").click();
      $('#exampleModaldirectory').modal('hide')
      $(".directory-select").select2({
        ajax: {
          url: "/all-directory.json",
          dataType: 'json',
          type: "GET",
          delay: 250,
          data: function(params) {
            return { name: params.term }
          },
          processResults: function (data, params) {
            return {
              results: $.map(data, function(value, index){
                return {id: value.id, text: value.name};
              })
            };
          }

        },
        theme: "bootstrap",
        escapeMarkup: function (markup) { return markup; },

        placeholder: "Type to search",
      });
    });
  });
</script>

<script type="text/javascript">

  $('.form-horizontal').onsubmit = function() {
    window.location.reload();

  }
</script>

<script type="text/javascript">
    var locations;
    var areas;
    $('.category-select').attr('required', 'required');
    $('.parent_category').attr('required', 'required');
    areas = $('.parent_category').html();
    locations = $('.category-select').html();

    $('.parent_category').change(function () {
      var region,
      escaped_region,
      options;
      region = $('.parent_category :selected').text();
      escaped_region = region.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
      options = $(locations).filter("optgroup[label=" + escaped_region + "]").html();
      if (options) {
        $('.category-select').html(options);
        return $('.category-select').removeAttr("disabled");

      } else {
        $('.category-select').empty();
        return $('.category-select').attr('required', 'required');
        return $('.parent_category').addClass("hide");

      }

    });
    </script>
