<%- model_class = Article -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="<%= categories_path %>"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></a></li>
            <li class="breadcrumb-item">
              <%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= render :partial => 'form' %>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

        </div>
        <%= form_for Category.new, :html => { :class => "form-horizontal category" },remote: true, format: :json do |x| %>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <%= x.label :title, :class => 'control-label' %>
                        <%= x.text_field :title, :class => 'form-control', required:true %>
                        <%=x.error_span(:title) %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <%= x.label :parent_id, :class => 'control-label' %>
                        <%= x.select :parent_id, Category.parent.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2",required:true%>
                        <%=x.error_span(:parent_id) %>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <%= x.label :main, :class => 'control-label' %><br>
                        <%= x.check_box :main, "data-on-text" => "true" ,"data-off-text"=>"false", 'data-on-color' => 'success', 'data-off-color' => 'danger' %>
                        <%=x.error_span(:main) %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <%= x.label :desc, :class => 'control-label' %>
                        <%= x.text_area :desc, :class => 'form-control',:ckeditor => {:removePlugins => 'forms,about,flash',:removeButtons => 'Image', :height => '300px'} %>
                        <%=x.error_span(:desc) %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <div class="form-group">
                        <%= x.submit nil, :class => 'btn btn-success' %>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <script type="text/javascript">
          $(".select2").select2();
          $("input[type='checkbox'], input[type='radio']").bootstrapSwitch();
        </script>

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModaldirectory" tabindex="-1" role="dialog" aria-labelledby="exampleModaldirectory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Directory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <%= form_for @directory, :html => { :class => "form-horizontal directory"  },remote: true, format: :json do |f| %>


          <% if @directory.errors.any? %>
          <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><%= pluralize(@directory.errors.count, "error") %> prohibited this directory from being saved:</h3>
            </div>
            <div class="panel-body">
              <ul>
                <% @directory.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">

                  <div class="form-group">
                    <%= f.label :name, :class => 'control-label' %>
                    <%= f.text_field :name, :class => 'form-control' %>
                    <%=f.error_span(:name) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :category_directory_id, :class => 'control-label' %>
                    <%= f.select :category_directory_id, CategoryDirectory.all.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2 category-select",required: true %>
                    <%=f.error_span(:category_id) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :description, :class => 'control-label' %>
                    <%= f.text_area :description, :class => 'form-control' %>
                    <%=f.error_span(:description) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :address, :class => 'control-label' %>
                    <%= f.text_area :address, :class => 'form-control' %>
                    <%=f.error_span(:address) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :map, :class => 'control-label' %>
                    <%= f.text_area :map, :class => 'form-control', rows:3 %>
                    <%=f.error_span(:map) %>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <%= f.label :phonenumber, :class => 'control-label' %>
                        <%= f.text_field :phonenumber, :class => 'form-control' %>
                        <%=f.error_span(:phonenumber) %>
                      </div>
                    </div>


                    <div class="col-4">
                      <div class="form-group">
                        <%= f.label :instagram, :class => 'control-label' %>
                        <%= f.text_field :instagram, :class => 'form-control' %>
                        <%=f.error_span(:instagram) %>
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <%= f.label :facebook, :class => 'control-label' %>
                        <%= f.text_field :facebook, :class => 'form-control' %>
                        <%=f.error_span(:facebook) %>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <%= f.label :twitter, :class => 'control-label' %>
                        <%= f.text_field :twitter, :class => 'form-control' %>
                        <%=f.error_span(:twitter) %>
                      </div>
                    </div>


                    <div class="col-6">
                      <div class="form-group">
                        <%= f.label :website, :class => 'control-label' %>
                        <%= f.text_field :website, :class => 'form-control' %>
                        <%=f.error_span(:website) %>
                      </div>

                    </div>

                  </div>








                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <%= f.submit nil, :class => 'btn btn-primary' %>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

          <% end %>

        </div>

        <script type="text/javascript">
          $(".select2").select2();
          $("input[type='checkbox'], input[type='radio']").bootstrapSwitch();
        </script>

      </div>
    </div>
  </div>
</div>
