<%- model_class = Article -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= link_to t('.new', :default => t("helpers.links.new")),new_article_path,:class => 'btn btn-success mb-2', target:'_blank' %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:title) %></th>
                <th><%= model_class.human_attribute_name(:category_id) %> / Sub </th>
                <th><%= model_class.human_attribute_name(:status) %></th>
                <th>Author</th>
                <th><%= model_class.human_attribute_name(:publish) %> Date</th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @articles.each do |article| %>
              <tr>
                <td><%= link_to article.id, article_path(article), target:'_blank' %></td>
                <td><%= article.title %></td>
                <td><%= article.category.parent.title rescue "biang_kerok" %> / <%= article.category.title rescue "biang_kerok" %></td>
                <td>
                  <% if article.status == "draft" %>
                  <span class="badge badge-warning"><%= article.status %></span>
                  <% elsif article.status == "publish"  %>
                  <span class="badge badge-success"><%= article.status %></span>
                  <% else %>
                  <span class="badge badge-primary"><%= article.status %></span>
                  <% end %>

                </td>
                
                <td><%= article.user.username %></td>
                <td><%= article.publish.strftime("%Y/%m/%d @%H:%M") rescue "-" %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  article_path(article), :class => 'btn btn-default btn-xs m-1', target: "blank" %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_article_path(article), :class => 'btn btn-warning btn-xs m-1', target:'_blank' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  article_path(article),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger m-1' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.table').DataTable({
      "order": [[ 0, "desc" ]]
    });
  } );
</script>
