<section id="single-article">
  <div class="container">
    <div class="row mb-10 justify-content-between">
      <div class="col-md-8">
        <div class="category-title">
          <div class="">
            <a href="<%= category_path(@article.category.parent.slug) %>" style="text-transform: capitalize;"><%= @article.category.parent.title %>  /</a> <a href="<%= category_path(@article.category.parent.slug, category: @article.category.slug) %>" style="text-transform: capitalize;"  class="text-yellow"><%= @article.category.title %></a>
          </div>
          <h1>
            <%= @article.title %>
          </h1>
          <div class="event-date mb-10 row m-0 justify-content-between w-100 align-items-center">
            <div class="col-12 col-md-6 mb-2 mb-md-0 p-0">
              <p><%= @article.publish.strftime("%A, %e %B %Y ") rescue '-'%></p>
            </div>
            <div class="col-xs-12">
              <div class="share-btn">
                <a  href="#" title="copy link" onclick="copyLink()" class="sosmed-icon">
                  <i class="fa fa-clone  fa-2x" aria-hidden="true"></i>
                </a>
                <a href="#" class="sosmed-icon" class="sosmed-icon"  onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= request.protocol + request.host_with_port  %>/<%= @article.category.parent.slug %>/<%= @article.slug %>?ref=mobile','facebook-share-dialog','width=626,height=436');return false;" title="Facebook">
                  <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                </a>
                <a  class="sosmed-icon" href="https://twitter.com/share?url=<%= request.protocol + request.host_with_port  %>/<%= @article.category.parent.slug %>/<%= @article.slug %>&amp;text=<%= @article.title %>;" target="_blank">
                  <i class="fa fa-twitter-square  fa-2x" aria-hidden="true"></i>
                </a>

                <a target="_blank"  class="sosmed-icon" href="https://wa.me/?text=<%= request.protocol + request.host_with_port  %>/<%= @article.category.parent.slug %>/<%= @article.slug %>" title="whatsapp">
                  <span><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></span>
                </a>
                <!--<a href="#" style="margin-right:10px;">-->
                <!--  <div class="line-it-button" data-lang="en" data-type="share-b" data-url="<%= request.protocol + request.host_with_port  %>/<%= @article.category.parent.slug %>/<%= @article.slug %>" style="margin-left:10px;"></div>-->
                <!--<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>-->
                <!--</a>-->
              </div>
            </div>
          </div>
          <article>
            <%= @article.content.html_safe %>

            <% if @article.directory_id != nil %>
            <%   x = Directory.find(@article.directory_id) %>
              <h3><strong><%= x.name  %></strong></h3>
              <p><%= x.address  %> <br>
              <% if x.phonenumber != nil %>
                T: <%= x.phonenumber %> <br>
              <% end %>
              <% if x.instagram != nil %>
              <a href="<%= x.instagram %>"> Instagram </a><br>
              <% end %>
              <% if x.facebook != nil %>
              <a href="<%= x.facebook %>"> Facebook </a><br>
              <% end %>
              <% if x.website != nil %>
              <a href="<%= x.website %>"><% x.website %> </a><br>
              <% end %>
              <% if x.map != nil %>
              <a href="<%= x.map %>"><% x.map %> </a><br>
              <% end %>
            <% end %>
            </p>
            <h3></h3>
          </article>
          <div class="mt-10">
            <hr>
            <p>Share this Article</p>
            <div class="share-btn">
              <a  href="#" title="copy link" onclick="copyLink()" class="sosmed-icon">
                <i class="fa fa-clone  fa-2x" aria-hidden="true"></i>
              </a>
              <a href="#" class="sosmed-icon" class="sosmed-icon"  onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= request.protocol + request.host_with_port  %>/<%= @article.category.parent.slug %>/<%= @article.slug %>?ref=mobile','facebook-share-dialog','width=626,height=436');return false;" title="Facebook">
                <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
              </a>
              <a  class="sosmed-icon" href="https://twitter.com/share?url=<%= request.protocol + request.host_with_port  %>/<%= @article.category.parent.slug %>/<%= @article.slug %>&amp;text=<%= @article.title %>;" target="_blank">
                <i class="fa fa-twitter-square  fa-2x" aria-hidden="true"></i>
              </a>

              <a target="_blank"  class="sosmed-icon" href="https://wa.me/?text=<%= request.protocol + request.host_with_port  %>/<%= @article.category.parent.slug %>/<%= @article.slug %>" title="whatsapp">
                <span><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></span>
              </a>
              <!--<a href="#" style="margin-right:10px;">-->
              <!--  <div class="line-it-button" data-lang="en" data-type="share-b" data-url="<%= request.protocol + request.host_with_port  %>/<%= @article.category.parent.slug %>/<%= @article.slug %>" style="margin-left:10px;"></div>-->
              <!--<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>-->
              <!--</a>-->
            </div>
          </div>

          <div class="mt-5">
            <div class="row align-items-center">
              <div class="col-md-2">
                <img src="<%= @article.user.avatar %>" alt="<%= @article.user.avatar %>" style="width:100%;border:4px solid #ffbe04;border-radius:50%;margin-bottom:20px;">
              </div>
              <div class="col-md-10">
                <div class="d-block">

                  <a href="<%= user_path(@article.user.slug) %>">
                    <h1 class="username"><%= @article.user.full_name %></h1>
                  </a>
                  <div class=" mb-2">
                  <p>  <%= @article.user.bio %> </p>
                  </div>
                  <div class="d-flex mb-5">
                    <% @article.user.social_media_authors.each do |x| %>
                    <div class="mr-3 mt-1">
                      <a href="<%= x.socialmedium.link %><%= x.account_username %>/" target="_blank" style="font-size:20px"><%= x.socialmedium.icon.html_safe %></a>
                    </div>
                    <% end %>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <hr>
          <div class="related">
            <div class="category-title">
              <h3>
                Artikel Terkait
              </h3>
              <hr>
            </div>
            <div class="row row-custom">
              <% @related.each do |x| %>
              <div class="col-md-4 p-10">
                <a href="<%= dtl_article_path(x.category.parent.slug, x.slug) %>">
                <div class="position-relative">
                  <div class="ftr-category">
                    <%= x.category.title %>
                  </div>
                  <img src="<%= x.image.url(:regular) %>" alt="" class="w-100">
                  <div class="ftr-title">
                    <h5><%= x.title %></h5>
                  </div>
                </div>
                </a>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sticky-top" style="top:75px;z-index:9">
          <div class="sticky-top" style="top:70px;z-index:9">
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
              /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
              <form action="https://aulyansr.us10.list-manage.com/subscribe/post?u=a487c59f7bcbea1e95b4335fb&amp;id=daafe81f59" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <div class="category-title">
                    <h3>
                      NEWSLETTER
                    </h3>
                    <p>Dapatkan inspirasi seputar travel, kuliner dan lain lain di BEBASAJA.</p>

                  </div>
                  <div class="mc-field-group">
                    <input type="email" value="" name="EMAIL" class="required email border-warning" id="mce-EMAIL" placeholder="youremail@mail.com">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a487c59f7bcbea1e95b4335fb_daafe81f59" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary m-0"></div>
                </div>
              </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </section>



<input type="text" value="<%= request.protocol + request.host_with_port  %>/<%= @article.category.parent.slug %>/<%= @article.slug %>" id="linkinput" style="opacity: 0;">
<script type="text/javascript">
function copyLink() {
  var copyText = document.getElementById("linkinput");
  copyText.select();
  document.execCommand("copy");
  alert("Link Berhasil di Copy: " + copyText.value);
}
</script>


<% if user_signed_in? %>
<div class="position-fixed" style="bottom: 45vh; right: 5vw;">
  <a href="<%= edit_article_path(@article.slug) %>">
  <div class="d-flex shadow bg-info justify-content-center align-items-center" style="height:50px;width:50px;border-radius:50%;">
    <i class="fa fa-pencil" aria-hidden="true" style="color:white"> </i>
  </div>
  </a>
</div>
<% end %>
