<% if @user.errors.any? %>
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
  <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> <%= pluralize(@user.errors.count, "error") %> </h3>
  <p>prohibited this user from being saved:</p>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">

  <div class="col-md-8">
    <%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <%= f.label :avatar, :class => 'control-label' %>
              <% if @user.avatar.nil? || @user.avatar.blank? %>
                <%= f.file_field :avatar, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
              <% else %>
                <%= f.file_field :avatar, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @user.avatar.url %>
              <% end %>
              <%=f.error_span(:avatar) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <%= f.label :username, :class => 'control-label' %> <small><i>Required</i></small>
                  <%= f.text_field :username, :class => 'form-control', required: true %>
                  <%=f.error_span(:username) %>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <%=  f.label :full_name, :class => 'control-label' %>
                  <%=  f.text_field :full_name, :class => 'form-control' %>
                  <%= f.error_span(:full_name) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <%= f.label :email, :class => 'control-label' %> <small><i>Required</i></small>
                  <%= f.text_field :email, :class => 'form-control', required: true %>
                  <%=f.error_span(:email) %>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <%= f.label :role, :class => 'control-label' %> <small><i>Required</i></small>
                  <%= f.select :role, User::ROLES.map {|r| [r.last.to_s, r.last.to_s] }, {:include_blank => '- Choose -'}, :class => 'form-control',:required => true %>
                  <%=f.error_span(:role) %>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <hr>
                <h3>Social Media</h3>
                <div id='schedules'>
                <%= f.fields_for :social_media_authors do |social_media_author| %>
                  <%= render 'social_media_author_fields', :f => social_media_author %>
                <% end %>
                <div class='links my-2'>
                  <%= link_to_add_association 'add Social Media', f, :social_media_authors, class:"btn btn-primary" %>
              </div>
              <hr>
              </div>
            </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <%= f.label :bio, :class => 'control-label' %> <small></small>
                  <%= f.text_area :bio, :class => 'form-control',rows:5 %>
                  <%=f.error_span(:bio) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mt-3">
                  <%= f.submit nil, :class => 'btn btn-success' %>
                  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-light' %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <% end %>
  </div>
  <div class="col-md-4">

    <%= form_for @user_with_password, :html => { :class => "form-horizontal user" } do |f| %>

    <div class="card">
      <div class="card-body">
        <h3>Change Password</h3>
        <hr>
        <div class="">
          <div class="">
            <div class="form-group">
              <%= f.label :current_password, :class => 'control-label' %>
              <%= f.password_field :current_password, :class => 'form-control',:required => true %>
              <%=f.error_span(:current_password) %>
            </div>
          </div>
          <div class="">
            <%= f.label :password, :class => 'control-label' %> <small><i>Required</i></small>
            <%= f.password_field :password, :class => 'form-control', required:true %>
            <%=f.error_span(:password) %>
          </div>
          <div class="">
            <%= f.label :password_confirmation, :class => 'control-label' %> <small><i>Required</i></small>
            <%= f.password_field :password_confirmation, :class => 'form-control', required:true %>
            <%=f.error_span(:password_confirmation) %>
          </div>
        </div>
        <div class="mt-3">
          <%= f.submit 'Change password', :class => 'btn btn-success' %>
        </div>
      </div>
    </div>

    <% end %>

  </div>
</div>
