<div class="nested-fields mb-3">
  <div class="row">
    <div class="col-5">
      <%= f.text_field :account_username, class: 'form-control', placeholder: "input your username" %>
    </div>
    <div class="col-5">
      <%= f.select :socialmedium_id, Socialmedium.all.map {|s| [s.title, s.id ]},{:include_blank => '-Choose platform-'}, :class=>"form-control w-100 select2 category-select",required: true %>
    </div>
    <div class="col-2">
       <%= link_to_remove_association  f, class:'btn btn-danger' do %>
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
       <% end %>
    </div>
  </div>
</div>
