<section id="latest">
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <div class="" style="top:70px;z-index:9">
          <div class="mb-3">
            <img src="<%= @user.avatar %>" alt="<%= @user.avatar %>" style="width:170px;border:4px solid #ffbe04;border-radius:50%;margin-bottom:20px;">
          </div>
        </div>
        <a href="<%= user_path(@user.slug) %>">
          <h1 class="username"><%= @user.full_name %></h1>
        </a>
        <div class=" mb-2">
        <p>  <%= @user.bio %> </p>
        </div>
        <div class="d-flex mb-5">
          <% @user.social_media_authors.each do |x| %>
          <div class="mr-3 mt-1">
            <a href="<%= x.socialmedium.link %>/<%= x.account_username %>/" target="_blank" style="font-size:20px"><%= x.socialmedium.icon.html_safe %></a>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-9">
        <ul class="list-article">
          <% @user.articles.publish.each do |x| %>
          <a href="<%= dtl_article_path(x.category.parent.slug ,x.slug) %>">
            <div class="row mb-3">
              <div class="col-md-4">
                <img  src="<%= x.image.url(:medium_short) %>" alt="Generic placeholder image" class="w-100">
              </div>
              <div class="col-md-8">
                <h4 class="mt-0 mb-1 title"><%= x.title %></h4>
                <p>
                  <%= x.metades.truncate(170) %>
                </p>
              </div>
            </div>
          </a>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</section>
