
<%= form_for @event, :html => { :class => "form-horizontal event" , target: "_blank",onsubmit:"javascript: setTimeout(function(){location.replace('/backtosetup-event');}, 1500);return true;"   } do |f| %>

<% if @event.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">


        <div class="form-group">
          <%= f.label :title, :class => 'control-label' %>
          <div class="">
            <%= f.text_field :title, :class => 'form-control' %>
          </div>
          <%=f.error_span(:title) %>
        </div>
        <div class="form-group">
          <%= f.label :metades, :class => 'control-label' %>
          <div class="">
            <%= f.text_area :metades, :class => 'form-control', rows: 5 %>
          </div>
          <%=f.error_span(:metades) %>
        </div>
        <div class="form-group">
          <%= f.label :content, :class => 'control-label' %>
          <div class="">
            <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {toolbar: 'mini'}%>
          </div>
          <%=f.error_span(:content) %>
        </div>
        <div class="form-group">
          <%= f.label :other_info, :class => 'control-label' %>
          <div class="">
            <%= f.cktext_area :other_info, :class => 'form-control',:ckeditor => {toolbar: 'mini'}%>
          </div>
          <%=f.error_span(:other_info) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :image, :class => 'control-label' %>
          <% if @event.image.nil? || @event.image.blank? %>
          <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', required: true %>
          <% else %>
          <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @event.image.url %>
          <% end %>
          <%=f.error_span(:image) %>
        </div>
        <hr>
        <div class="form-group">
          <%= f.label :status, :class => 'control-label' %>
          <%= f.select :status, Event::Status.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
          <%=f.error_span(:status) %>
        </div>
        <hr>
        <div class="form-group">
          <%= f.label :category_id,"Set New Category", :class => 'control-label' %> <br>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create New Category
          </button>
        </div>
        <div class="form-group">
          <%= f.label :category_id, :class => 'control-label' %>
          <div class="">
            <%= f.select :category_id, Category.event_category.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2 category-select",required: true %>
          </div>
          <%=f.error_span(:category_id) %>
        </div>
        <hr>
        <div class="form-group">
          <%= f.label :start_date, :class => 'control-label' %>
          <div class="">
            <%= f.date_field :start_date, :class => 'form-control datepicker' %>
          </div>
          <%=f.error_span(:start_date) %>
        </div>
        <div class="form-group">
          <%= f.label :end_date, :class => 'control-label' %>
          <div class="">
            <%= f.date_field :end_date, :class => 'form-control datepicker' %>
          </div>
          <%=f.error_span(:end_date) %>
        </div>
        <hr>
        <div class="form-group">
          <%= f.label :venue, :class => 'control-label' %>
          <div class="">
            <%= f.text_field :venue, :class => 'form-control' %>
          </div>
          <%=f.error_span(:venue) %>
        </div>
        <div class="form-group">
          <%= f.label :map, :class => 'control-label' %>
          <div class="">
            <%= f.text_area :map, :class => 'form-control', rows: 3 %>
          </div>
          <%=f.error_span(:map) %>
        </div>
        <p>or select  from directories</p>
        <div class="form-group">
          <%= f.label :directory_id,"Set New Directory", :class => 'control-label' %> <br>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModaldirectory">
            Create New Directory
          </button>
        </div>
        <div class="form-group">
          <%= f.label :directory_id, :class => 'control-label' %>
          <%= f.select :directory_id, Directory.all.map {|s| [s.name, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2 directory-select"%>
          <%=f.error_span(:directory_id) %>
        </div>
        <hr>
        <div class="form-group">
          <label for="">Tags</label>
          <%= f.text_field :tag_list, :class => 'hai', :value => @event.tag_list.join(",") %>
          <%=  @event.tag_list %>
        </div>


        <div class="form-group">
          <%= f.submit "Preview", :class => 'btn btn-success prvs',onClick: "window.location.open().reload();", name:"preview" %>
          <%= f.submit "Publish", :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          events_path, :class => 'btn btn-default' %>

        </div>
      </div>
    </div>

  </div>
</div>








<% end %>

<script type="text/javascript">
  $('.mydatepicker').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY @HH:mm' });
  $("input[type='checkbox'], input[type='radio']").bootstrapSwitch();
  $(".directory-select").select2({
    ajax: {
      url: "/all-directory.json",
      dataType: 'json',
      type: "GET",
      delay: 250,
      data: function(params) {
        return { name: params.term }
      },
      processResults: function (data, params) {
        return {
          results: $.map(data, function(value, index){
            return {id: value.id, text: value.name};
          })
        };
      }

    },
    theme: "bootstrap",
    escapeMarkup: function (markup) { return markup; },

    placeholder: "Type to search",
  });
  $('.hai').selectize({
    options:[
    <% @event.tag_list.each_with_index do |x, i|  %>
    {value:"<%= x %>", text:"<%= x %>"},
    <% end %>
    ],
    labelField: 'text',
    searchField: 'text',
    delimiter: ',',
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  });
</script>


<script type="text/javascript">
  $(document).ready(
  function() {
    $('#new_directory').on('ajax:success', function(data) {
      $('#new_directory')[0].reset();
      $("body").click();
      $('#exampleModal').modal('hide')
      $(".directory-select").select2({
        ajax: {
          url: "/all-directory.json",
          dataType: 'json',
          type: "GET",
          delay: 250,
          data: function(params) {
            return { name: params.term }
          },
          processResults: function (data, params) {
            return {
              results: $.map(data, function(value, index){
                return {id: value.id, text: value.name};
              })
            };
          }

        },
        theme: "bootstrap",
        escapeMarkup: function (markup) { return markup; },

        placeholder: "Type to search",
      });
    });
  });


</script>

<script type="text/javascript">
  $(document).ready(
  function() {
    $('#new_directory').on('ajax:success', function(data) {
      $('#new_directory')[0].reset();
      $("body").click();
      $('#exampleModaldirectory').modal('hide')
      $(".drc").select2({
        ajax: {
          url: "/all-directory.json",
          dataType: 'json',
          type: "GET",
          delay: 250,
          data: function(params) {
            return { title: params.term }
          },
          processResults: function (data, params) {
            return {
              results: $.map(data, function(value, index){
                return {id: value.id, text: value.name};
              })
            };
          }

        },
        theme: "bootstrap",
        escapeMarkup: function (markup) { return markup; },

        placeholder: "Type to search",
      });
    });
  });
</script>

<script type="text/javascript">
$(document).ready(
  function() {
    $('#new_category').on('ajax:success', function(data) {
      $('#new_category')[0].reset();
      $("body").click();
      $('#exampleModal').modal('hide')
      $(".category-select").select2({
      ajax: {
        url: "/all-category-event",
        dataType: 'json',
        type: "GET",
        delay: 250,
        data: function(params) {
              return { title: params.term }
            },
            processResults: function (data, params) {
              return {
                results: $.map(data, function(value, index){
                  return {id: value.id, text: value.title};
                })
              };
            }

      },
      theme: "bootstrap",
      escapeMarkup: function (markup) { return markup; },

      placeholder: "Type to search",
    });
  });
  });
</script>

<script type="text/javascript">

  $('.form-horizontal').onsubmit = function() {
    window.location.reload();

  }
</script>
