<%- model_class = Event -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= render :partial => 'form' %>
</div>


<div class="modal fade" id="exampleModaldirectory" tabindex="-1" role="dialog" aria-labelledby="exampleModaldirectory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Directory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <%= form_for Directory.new, :html => { :class => "form-horizontal directory", target: "_blank"  },remote: true, format: :json do |f| %>


          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">

                  <div class="form-group">
                    <%= f.label :name, :class => 'control-label' %>
                    <%= f.text_field :name, :class => 'form-control' %>
                    <%=f.error_span(:name) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :description, :class => 'control-label' %>
                    <%= f.text_area :description, :class => 'form-control' %>
                    <%=f.error_span(:description) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :category_directory_id, :class => 'control-label' %>
                    <%= f.select :category_directory_id, CategoryDirectory.all.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2 category-select",required: true %>
                    <%=f.error_span(:category_id) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :address, :class => 'control-label' %>
                    <%= f.text_area :address, :class => 'form-control' %>
                    <%=f.error_span(:address) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :map, :class => 'control-label' %>
                    <%= f.text_area :map, :class => 'form-control', rows:3 %>
                    <%=f.error_span(:map) %>
                  </div>

                </div>
              </div>
            </div>

          </div>

          <% end %>

        </div>

        <script type="text/javascript">
          $(".select2").select2();
          $(".select2").select2();
          $("input[type='checkbox'], input[type='radio']").bootstrapSwitch();
        </script>

      </div>
    </div>
  </div>
</div>
