<section id="single-event">
  <div class="container">
    <div class="category-title">
      <div class="">
        <a href="<%= page_event_path %>" style="text-transform: capitalize;">Event /</a> <a href="<%= page_event_path(category: @event.category.slug) %>" style="text-transform: capitalize;"  class="text-yellow"><%= @event.category.title %></a>
      </div>
      <h1>
        <%= @event.title %>
      </h1>
      <div class="event-date mb-10 row justify-content-between m-0">
        <div class="p-0 mb-3 mb-md-0">
          <p style="font-size:20px">
            <% if @event.start_date == @event.end_date %>
            <%= @event.start_date.strftime(" %e %B %Y") rescue "-" %>
            <% else %>
            <% if @event.start_date.strftime("%B") == @event.end_date.strftime("%B")   %>
            <%= @event.start_date.strftime("%e") rescue "-" %> - <%= @event.end_date.strftime("%e %B %Y") rescue "-" %>
            <% else %>
            <%= @event.start_date.strftime("%e %B %Y") rescue "-" %> - <%= @event.end_date.strftime("%e %B %Y") rescue "-" %>
            <% end %>
            <% end %>
          </p>
          <a class="text-right text-yellow p-0 mb-3" href="http://www.google.com/calendar/event?action=TEMPLATE&dates=<%= @event.start_date.strftime('%Y%m%d')%>/<%= @event.end_date.strftime('%Y%m%d')%>&text=<%= URI.encode(@event.title)  %>&location=<%= URI.encode(@event.venue) rescue 'monas jakarta' %>&details=<%= URI.encode(@event.other_info ) rescue '' %>"target="_blank" rel="nofollow"><i class="fa fa-calendar " aria-hidden="true"></i> Add to my calendar</a>
        </div>
        <div class="share-btn">
          <a href="#" title="copy link" onclick="copyLink()" class="sosmed-icon">
            <i class="fa fa-clone  fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#" class="sosmed-icon" class="sosmed-icon"  onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= request.protocol + request.host_with_port  %>/events/<%= @event.slug %>','facebook-share-dialog','width=626,height=436');return false;" title="Facebook">
            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
          </a>
          <a  class="sosmed-icon" href="https://twitter.com/share?url=<%= request.protocol + request.host_with_port  %>/events/<%= @event.slug %>&amp;text=<%= @event.title %>;" target="_blank">
            <i class="fa fa-twitter-square  fa-2x" aria-hidden="true"></i>
          </a>

          <a class="sosmed-icon" href="https://wa.me/?text=<%= request.protocol + request.host_with_port  %>/events/<%= @event.slug %>" title="whatsapp">
            <span><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></span>
          </a>
          <a href="#" style="margin-right:10px;">
            <div class="line-it-button" data-lang="en" data-type="share-b" data-url="<%= request.protocol + request.host_with_port  %>/events/<%= @event.slug %>" style="margin-left:10px;"></div>
            <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
          </a>
        </div>

      </div>
      <div class="row mb-10">
        <div class="col-md-4">
          <div class="mb-3">
            <img src="<%= @event.image %>" alt="<%= @event.image %>" class="w-100">

          </div>

        </div>
        <div class="col-md-8">

          <article class="">
            <%= @event.content.html_safe %>
          </article>


        </div>

      </div>


      <hr>


      <div class="row">

        <div class="col-md-4">
          <% if @event.map != nil %>
          <%= @event.map.html_safe %>
          <% else %>
          <%= @event.directory.map rescue "" %>
          <% end %>

        </div>
        <div class="col-md-8">
          <div class="">
            <%= @event.other_info.html_safe rescue "" %>
          </div>
          <div class="mt-10">

            <p>Share this Event</p>
            <div class="share-btn">
              <a href="#" title="copy link" onclick="copyLink()" class="sosmed-icon">
                <i class="fa fa-clone  fa-2x" aria-hidden="true"></i>
              </a>
              <a href="#" class="sosmed-icon" class="sosmed-icon"  onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= request.protocol + request.host_with_port  %>/events/<%= @event.slug %>','facebook-share-dialog','width=626,height=436');return false;" title="Facebook">
                <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
              </a>
              <a  class="sosmed-icon" href="https://twitter.com/share?url=<%= request.protocol + request.host_with_port  %>/events/<%= @event.slug %>&amp;text=<%= @event.title %>;" target="_blank">
                <i class="fa fa-twitter-square  fa-2x" aria-hidden="true"></i>
              </a>

              <a class="sosmed-icon" href="https://wa.me/?text=<%= request.protocol + request.host_with_port  %>/events/<%= @event.slug %>" title="whatsapp">
                <span><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></span>
              </a>
              <a href="#" style="margin-right:10px;">
                <div class="line-it-button" data-lang="en" data-type="share-b" data-url="<%= request.protocol + request.host_with_port  %>/events/<%= @event.slug %>" style="margin-left:10px;"></div>
                <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <% @related.each do |x| %>
        <div class="col-md-3">
          <div class="card border-warning mb-3">
            <a href="<%= event_path(x.slug) %>">
              <img  class="card-img-top"src="<%= x.image %>" alt="<% x.title %>" class="w-100">

              <div class="ftr-category">
                <%= x.category.title %>
              </div>
              <div class="card-body card-img-top">

                <h5 class=""><%= x.title %></h5>
                <p class="mb-0 "><i class="fa fa-calendar " aria-hidden="true"></i>
                  <% if x.start_date == x.end_date %>
                  <%= x.start_date.strftime(" %e %B %Y") rescue "-" %>
                  <% else %>
                  <% if x.start_date.strftime("%B") == x.end_date.strftime("%B")   %>
                  <%= x.start_date.strftime("%e") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
                  <% else %>
                  <%= x.start_date.strftime("%e %B %Y") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
                  <% end %>
                  <% end %>
                </p>

              </div>
            </a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>

  <input type="text" value="<%= request.protocol + request.host_with_port  %>/events/<%= @event.slug %>" id="linkinput" style="opacity: 0;">
  <script type="text/javascript">
    function copyLink() {
      var copyText = document.getElementById("linkinput");
      copyText.select();
      document.execCommand("copy");
      alert("Link Berhasil di Copy: " + copyText.value);
    }
  </script>
