<% @event.each do |e| %>
<div class="col-md-5 pr-0 event-detail">
  <a href="<%= event_path(e.slug) %>">
    <span class="col-xs-8">
      <% if e.start_date == e.end_date %>
      <%= e.start_date.strftime(" %e %B %Y") rescue "-" %>
      <% else %>
      <% if e.start_date.strftime("%B") == e.end_date.strftime("%B")   %>
      <%= e.start_date.strftime("%e") rescue "-" %> - <%= e.end_date.strftime("%e %B %Y") rescue "-" %>
      <% else %>
      <%= e.start_date.strftime("%e %B %Y") rescue "-" %> - <%= e.end_date.strftime("%e %B %Y") rescue "-" %>

      <% end %>
      <% end %>
    </span>
    <br>
    <%= e.title %>
  </a>
</div>
<% end %>
