<section>
  <div class="container">
    <div class="text-center mb-5">
      <h1>Penulis Bebas Aja</h1>
    </div>

    <div class="row">
      <% User.where(id: Article.all.map(&:user_id)).each do |x| %>
      <div class="col-md-6">
          <div class="row align-items-center">
            <div class="col-md-4">
              <a href="<%= user_path(x.slug) %>">
                <img src="<%= x.avatar %>" alt="<%= x.avatar %>" style="border:4px solid #ffbe04;border-radius:50%;margin-bottom:20px;width:100%;">
              </a>
            </div>
            <div class="col-md-8">
              <a href="<%= user_path(@article.user.slug) %>">
                <h1 class="username"><%= @article.user.full_name %></h1>
              </a>
              <div class=" mb-2">
              <p>  <%= @article.user.bio %> </p>
              </div>
              <div class="d-flex mb-5">
                <% @article.user.social_media_authors.each do |x| %>
                <div class="mr-3 mt-1">
                  <a href="<%= x.socialmedium.link %>/<%= x.account_username %>/" target="_blank" style="font-size:20px"><%= x.socialmedium.icon.html_safe %></a>
                </div>
                <% end %>
              </div>
            </div>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
