<section>
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h1 style="font-weight:900;color:#03a8a1">Contact Us</h1>
        <p class="mb-3">Untuk say hello, kerjasama, dan hal lainnya silahkan hubungi nomoe di bawah ini atau melalui form disamping:</p>
        <h5>Whatsapp: +62821 0863 2123 </h5>
      </div>
      <div class="col-md-8">
        <%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>

          <% if @contact.errors.any? %>
            <div id="error_expl" class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
              </div>
              <div class="panel-body">
                <ul>
                <% @contact.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :fullname, :class => 'control-label' %>
              <%= f.text_field :fullname, :class => 'form-control' %>
            <%=f.error_span(:fullname) %>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :email, :class => 'control-label' %>
                  <%= f.text_field :email, :class => 'form-control' %>
                <%=f.error_span(:email) %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :phone, :class => 'control-label' %>
                  <%= f.text_field :phone, :class => 'form-control' %>
                <%=f.error_span(:phone) %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :subject, :class => 'control-label' %>
              <%= f.text_field :subject, :class => 'form-control' %>
            <%=f.error_span(:subject) %>
          </div>

          <div class="form-group">
            <%= f.label :message, :class => 'control-label' %>
              <%= f.text_area :message, :class => 'form-control', rows:6 %>
            <%=f.error_span(:message) %>
          </div>

          <div class="form-group">
              <%= f.submit "Submit", :class => 'btn btn-primary' %>
          </div>

        <% end %>

      </div>

    </div>


  </div>
</section>
