<section id="list-event">
  <div class="container">
    <div class="category-title text-center">
      <h1>
        EVENT
      </h1>
      <hr>
    </div>
    <div class="mt-10 mb-10">
      <%= form_tag page_event_path, id: 'region', method: :get do %>
        <div class="row justify-content-center mb-30">
          <div class="col-md-3">
            <select class="custom-select" name="category">
              <option selected value="all">Pilih Kategori</option>
              <%= Category.event_category.each do |x| %>
              <option value="<%= x.slug %>"><%= x.title %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-3">
              <select class="custom-select" name="month">
                <option selected value="all">Pilih Bulan</option>
                <% @months.map{ |date| date.end_date.strftime("%B") }.uniq.each do |x| %>
                <option value="<%= x %>"><%= x %></option>
                <% end %>
              </select>
          </div>
          <div class="col-md-1">
            <%= submit_tag "Cari", id: "submit", class:"btn btn-primary w-100" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-columns">
      <% @events.each do |x| %>
        <a href="<%= event_path(x.slug) %>">
      <div class="card border-warning">
        <img  class="card-img-top"src="<%= x.image %>" alt="<% x.title %>" class="w-100">

          <div class="ftr-category">
            <%= x.category.title %>
          </div>
          <div class="card-body card-img-top">

              <h5 class=""><%= x.title %></h5>
              <p class="mb-0 "><i class="fa fa-calendar " aria-hidden="true"></i>
                <% if x.start_date == x.end_date %>
                <%= x.start_date.strftime(" %e %B %Y") rescue "-" %>
                <% else %>
                <% if x.start_date.strftime("%B") == x.end_date.strftime("%B")   %>
                <%= x.start_date.strftime("%e") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
                <% else %>
                <%= x.start_date.strftime("%e %B %Y") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
                <% end %>
                <% end %>
              </p>

          </div>

      </div>
        </a>
      <% end %>

    </div>
    <!-- <div class="text-center">
      <a href="#" class="btn btn-outline-yellow">Muat Lebih Banyak</a>
    </div> -->
  </div>
</section>
