<section id="featured">
  <div class="container">
    <div class="row row-custom">
      <div class="col-md-4 p-10">
        <div class="position-relative">
          <div class="ftr-category">
            <%= @gaya_hidup.category.title %>
          </div>
          <a href="<%= dtl_article_path(@gaya_hidup.category.parent.slug, @gaya_hidup.slug) %>">
            <img src="<%= @gaya_hidup.image.url(:regular) %>" alt="<%= @gaya_hidup.title %>" class="w-100">
          </a>
          <div class="ftr-title">
            <h3><a href="<%= dtl_article_path(@gaya_hidup.category.parent.slug, @gaya_hidup.slug) %>"><%= @gaya_hidup.title %></a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-10">
        <div class="position-relative">
          <div class="ftr-category">
            <%= @music_dan_film.category.title %>
          </div>
          <a href="<%= dtl_article_path(@music_dan_film.category.parent.slug, @music_dan_film.slug) %>">
            <img src="<%= @music_dan_film.image.url(:regular) %>" alt="<%= @music_dan_film.title %>" class="w-100">
          </a>
          <div class="ftr-title">
            <h3><a href="<%= dtl_article_path(@music_dan_film.category.parent.slug, @music_dan_film.slug) %>"><%= @music_dan_film.title %></a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-10">
        <div class="position-relative">
          <div class="ftr-category">
            <%= @ragam_budaya.category.title rescue "" %>
          </div>
          <a href="<%= dtl_article_path(@ragam_budaya.category.parent.slug, @ragam_budaya.slug) %>">
            <img src="<%= @ragam_budaya.image.url(:regular) %>" alt="<%= @ragam_budaya.title %>" class="w-100">
          </a>
          <div class="ftr-title">
            <h3><a href="<%= dtl_article_path(@ragam_budaya.category.parent.slug, @ragam_budaya.slug) %>"><%= @ragam_budaya.title %></a></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-custom">
      <div class="col-md-6 p-10">
        <div class="position-relative">
          <div class="ftr-category">
            <%= @wisata.category.title %>
          </div>
          <a href="<%= dtl_article_path(@wisata.category.parent.slug, @wisata.slug) %>">
            <img src="<%= @wisata.image.url(:regular) %>" alt="<%= @wisata.title %>" class="w-100">
          </a>
          <div class="ftr-title">
            <h3><a href="<%= dtl_article_path(@wisata.category.parent.slug, @wisata.slug) %>"><%= @wisata.title %></a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-10">
        <div class="position-relative">
          <div class="ftr-category">
            <%= @kuliner.category.title %>
          </div>
          <a href="<%= dtl_article_path(@kuliner.category.parent.slug, @kuliner.slug) %>">
            <img src="<%= @kuliner.image.url(:regular) %>" alt="<%= @kuliner.title %>" class="w-100">
          </a>
          <div class="ftr-title">
            <h3><a href="<%= dtl_article_path(@kuliner.category.parent.slug, @kuliner.slug) %>"><%= @kuliner.title %></a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="banner">
  <div class="container">
    <hr>
  </div>
</div>

<section id="main-category">
  <div class="container">
    <div class="row row-custom ">
      <div class="col-md-4 p-10">
        <div class="position-relative">
          <div class="ftr-category">
            <%= @hobby.category.title %>
          </div>
          <a href="<%= dtl_article_path(@hobby.category.parent.slug, @hobby.slug) %>">
            <img src="<%= @hobby.image.url(:regular) %>" alt="<%= @hobby.title %>" class="w-100">
          </a>
          <div class="ftr-title">
            <h3><a href="<%= dtl_article_path(@hobby.category.parent.slug, @hobby.slug) %>"><%= @hobby.title %></a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-4 p-10">
        <div class="position-relative">
          <div class="ftr-category">
            <%= @famili_dan_edukasi.category.title %>
          </div>
          <a href="<%= dtl_article_path(@famili_dan_edukasi.category.parent.slug, @famili_dan_edukasi.slug) %>">
            <img src="<%= @famili_dan_edukasi.image.url(:regular) %>" alt="<%= @famili_dan_edukasi.title %>" class="w-100">
          </a>
          <div class="ftr-title">
            <h3><a href="<%= dtl_article_path(@famili_dan_edukasi.category.parent.slug, @famili_dan_edukasi.slug) %>"><%= @famili_dan_edukasi.title %></a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-10">
        <div class="position-relative">
          <div class="ftr-category">
            <%= @ototech.category.title %>
          </div>
          <a href="<%= dtl_article_path(@ototech.category.parent.slug, @ototech.slug) %>">
            <img src="<%= @ototech.image.url(:regular) %>" alt="<%= @ototech.title %>" class="w-100">
          </a>
          <div class="ftr-title">
            <h3><a href="<%= dtl_article_path(@ototech.category.parent.slug, @ototech.slug) %>"><%= @ototech.title %></a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="banner">
  <div class="container">
    <hr>
  </div>
</div>

<% unless @event.empty? %>
  <section id="coe">
    <div class="container">
      <%= form_tag root_path, id: "dates", remote: true, method: :get do %>


      <div class="row mb-10">
        <div class="col-md-5 p-">
          <div id="datepicker" class="m-auto d-none d-md-block"></div>

        </div>
        <div class="col-md-7">
          <div class="category-title">
            <h3>
              Event
            </h3>
            <hr>
          </div>
          <div class="row" id="all">
            <%= render 'data' %>

          </div>
          <input type="hidden" id="my_hidden_input" name="date">
          <%= submit_tag "submit", id: "submit", class:"d-none" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <a href="<%= page_event_path %>" class="btn btn-outline-yellow">Muat Lebih Banyak</a>
    </div>
  </section>

  <div id="banner">
    <div class="container">
      <hr>
    </div>
  </div>
<% end %>

<!-- <div id="banner">
<div class="container">
<hr>
</div>
</div> -->

<!-- <section id="multmedia">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="category-title">
          <h3>
            VIBES
          </h3>
          <hr>
        </div>
        <div class="main-video">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/<%= YouTubeRails.extract_video_id(@video.first.youtube_url) rescue nil %>?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <h4 class="title"><%= @video.first.title %></h4>
        </div>
        <div class="list-video">
          <% @video.each do |x| %>
          <div class="row">
            <div class="col-md-4">
              <img src="http://img.youtube.com/vi/<%= YouTubeRails.extract_video_id(x.youtube_url) %>/maxresdefault.jpg" alt="<%= x.title %>" class="w-100">
            </div>
            <div class="col-md-8">
              <h5 class="title mt-0"><%= x.title %></h5>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="category-title">
          <h3>
            BECAST
          </h3>
          <hr>
        </div>
        <div class="main-podcast">
          <iframe width="100%" height="700" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/8261905&color=%23ffbe04&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </div>
      </div>
    </div>
  </div>
</section> -->




<% unless @latest.empty? %>

<section id="latest">
  <div class="container">
    <div class="category-title">
      <h3>
        Artikel Terakhir
      </h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-9">
        <ul class="list-article">
          <% @latest.each do |x| %>
          <a href="<%= dtl_article_path(x.category.parent.slug ,x.slug) %>">
            <div class="row mb-3">
              <div class="col-md-4">
                <img  src="<%= x.image.url(:medium_short) %>" alt="Generic placeholder image" class="w-100">
              </div>
              <div class="col-md-8">
                <h4 class="mt-3 mt-md-0 mb-1 title"><%= x.title %></h4>
                <p>
                  <%= x.metades.truncate(170) %>
                </p>
              </div>
            </div>
          </a>
          <% end %>
        </ul>
        <div class="text-center">
          <a href="<%= latest_path %>" class="btn btn-outline-yellow">Lihat lebih banyak</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sticky-top d-none d-md-block" style="top:70px;z-index:9">
          <!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
              /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
              <form action="https://bebasaja.us19.list-manage.com/subscribe/post?u=5956d55673d6e58199810165e&amp;id=c385ed38c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <div class="category-title">
                    <h3>
                      NEWSLETTER
                    </h3>
                    <p>Dapatkan inspirasi seputar travel, kuliner dan lain lain di BEBASAJA.</p>

                  </div>
                  <div class="mc-field-group">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="youremail@mail.com">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5956d55673d6e58199810165e_c385ed38c3" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary m-0"></div>
                </div>
              </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email'; }(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </div>
  </section>

<% end %>



  <script type="text/javascript">

    var active_dates = [<% Event.all.order(start_date: :desc).each do |x| %> "<%= x.start_date.strftime("%e/%m/%Y") %>", <%end%>];
    $("#datepicker").datepicker({
      format: "yyyy-mm-dd",
      todayHighlight: true,
      beforeShowDay: function(date){
        var d = date;
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1; //Months are zero based
        var curr_year = d.getFullYear();
        var formattedDate = curr_date + "/" + curr_month + "/" + curr_year

        if ($.inArray(formattedDate, active_dates) != -1){
          return {
            classes: 'activeClass'
          };
        }
        return;
      }
    });
    $('#datepicker').on('changeDate', function() {
      $('#my_hidden_input').val(
      $('#datepicker').datepicker('getFormattedDate')
      );
      $("#submit").click();
      $('#dates').submit(function(){
        $.get(this.action , $(this).serialize(),null, 'script');
        return false;
      });
    });



  </script>
