<section id="latest">
  <div class="container">
    <div class="category-title">
      <h3>
        Artikel terbaru
      </h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-9">
        <ul class="list-article">
          <% @latest.each do |x| %>
          <a href="<%= dtl_article_path(x.category.parent.title ,x.slug) %>">
            <div class="row mb-3">
              <div class="col-md-4">
                <img  src="<%= x.image.url(:medium_short) %>" alt="Generic placeholder image" class="w-100">
              </div>
              <div class="col-md-8">
                <h4 class="mt-0 mb-1 title"><%= x.title %></h4>
                <p>
                  <%= x.metades.truncate(170) %>
                </p>
              </div>
            </div>
          </a>
          <% end %>
          <div class="text-center">
            <%= paginate @latest, theme: 'twitter-bootstrap-4' %>
          </div>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="sticky-top" style="top:70px;z-index:9">
          <!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
            <form action="https://aulyansr.us10.list-manage.com/subscribe/post?u=a487c59f7bcbea1e95b4335fb&amp;id=daafe81f59" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class="category-title">
                  <h3>
                    NEWSLETTER
                  </h3>
                  <p>Dapatkan inspirasi seputar travel, kuliner dan lain lain di BEBASAJA.</p>

                </div>
                <div class="mc-field-group">
                  <input type="email" value="" name="EMAIL" class="required email border-warning" id="mce-EMAIL" placeholder="youremail@mail.com">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a487c59f7bcbea1e95b4335fb_daafe81f59" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary m-0"></div>
              </div>
            </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->
        </div>

      </div>
    </div>
  </div>
</section>
