<section>
  <div class="container">
    <div class="text-center mb-3">
      <h1>Hasil pencarian : <%=  params[:search] %></h1>
    </div>


    <div class="card-columns">
      <% @search_result_event.each do |x| %>
      <div class="card border-warning">
        <a href="<%= event_path(x.slug) %>">
        <img  class="card-img-top"src="<%= x.image %>" alt="<% x.title %>" class="w-100">

          <div class="ftr-category">
            <%= x.category.title %>
          </div>
          <div class="card-body card-img-top">

              <h5 class=""><%= x.title %></h5>
              <p class="mb-0 "><i class="fa fa-calendar " aria-hidden="true"></i>
                <% if x.start_date == x.end_date %>
                <%= x.start_date.strftime(" %e %B %Y") rescue "-" %>
              <% else %>
                <%= x.start_date.strftime("%e %B %Y") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
              <% end %>
              </p>

          </div>

        </a>
      </div>
      <% end %>
    </div>

    <div class="py-2">
      <hr>
    </div>


    <div class="row row-custom mt-2">
      <% @search_result_article.each do |x| %>
      <div class="col-md-4 p-10">
        <a href="<%= dtl_article_path(x.category.parent.slug, x.slug) %>">
        <div class="position-relative">
          <div class="ftr-category">
            <%= x.category.title %>
          </div>
          <img src="<%= x.image.url(:regular) %>" alt="" class="w-100">
          <div class="ftr-title">
            <h5><%= x.title %></h5>
          </div>
        </div>
      </a>
      </div>
      <% end %>
    </div>

  </div>
</section>
