<%= form_for @category_directory, :html => { :class => "form-horizontal category_directory" } do |f| %>

<% if @category_directory.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@category_directory.errors.count, "error") %> prohibited this category_directory from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @category_directory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="card">
  <div class="card-body">

    <div class="form-group">
      <%= f.label :title, :class => 'control-label' %>
      <%= f.text_field :title, :class => 'form-control' %>
      <%=f.error_span(:title) %>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => 'control-label' %>
      <%= f.text_area :description, :class => 'form-control' %>
      <%=f.error_span(:description) %>
    </div>

    <div class="form-group">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        category_directories_path, :class => 'btn btn-default' %>

    </div>
  </div>
</div>


<% end %>
