<%- model_class = Contact -%>

<div class="row">
  <div class="card">
    <div class="card-body">
      <div class="page-header">
        <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
      </div>

      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:fullname) %>:</strong></dt>
        <dd><%= @contact.fullname %></dd>
        <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
        <dd><%= @contact.email %></dd>
        <dt><strong><%= model_class.human_attribute_name(:subject) %>:</strong></dt>
        <dd><%= @contact.subject %></dd>
        <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
        <dd><%= @contact.phone %></dd>
        <dt><strong><%= model_class.human_attribute_name(:message) %>:</strong></dt>
        <dd><%= @contact.message %></dd>
      </dl>

      <%= link_to t('.back', :default => t("helpers.links.back")),
                    contacts_path, :class => 'btn btn-default'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_contact_path(@contact), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    contact_path(@contact),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>

    </div>
  </div>
</div>
