<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <div class="mt-3">
            <%= f.submit "Log in", class:"btn  btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
