<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td align="center" bgcolor="white" style="padding: 20px 0 20px 0;">
            <img src="http://bebasaja.com/assets/main-logo.png"  width="300" alt="Logo NOW GUIDE" style="display: block;">
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;font-family: Arial, sans-serif;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="padding: 20px 0 20px 0;">
                <b>Hallo Super Admin,</b>
                <p>Ada artikel baru yang di publish</p>
                <ul>
                  <li> Judul: <b><%= @article.title %></b></li>
                  <li> Author: <b><%= @article.user.username %></b></li>
                  <li> Url: <b> <a href="https://bebasaja.com/<%=@article.category.parent.slug%>/<%= @article.slug %>"> <u>https://bebasaja.com/<%=@article.category.parent.slug%>/<%= @article.slug %></u></a></b></li>
                </ul>
                <p>
                  Regards,<br>
                  BebasAja
                </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#03a8a1" style="padding: 30px 30px 30px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                  &reg; BebasAja<br/>
                  <a href="#" style="color: #ffffff;"><font color="#ffffff">Subscribe</font></a> to BebasAja's newsletter
                </td>
                <td align="right">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <!-- <a href="http://www.twitter.com/">
                        <img src="images/tw.gif" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                        </a> -->
                      </td>
                      <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                      <td>
                        <!-- <a href="http://www.twitter.com/">
                        <img src="images/fb.gif" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
                        </a> -->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
