<% i =  [*0..4].sample %>

<% @all_article.each do |x| %>
<div class="col-md-4 p-10" style="order:<%= i = i + 1 %> ">
  <div class="position-relative">
    <div class="ftr-category">
      <%= x.category.title %>
    </div>
    <img src="<%= x.image.url(:ads_google) %>" alt="" class="w-100">
    <div class="ftr-title">
      <h5><a href="<%= article_path(x.slug) %>"><%= x.title %></a></h5>
    </div>
  </div>
</div>
<% end %>
<div class="col-md-4 p-10" style="order:<%= i = i + 1 %>">
  <div class="position-relative">
    <img src="https://via.placeholder.com/300x250" alt="" class="w-100">
  </div>
</div>
<div class="col-md-4 p-10" style="order:<%= i = i + 1 %>">
  <div class="position-relative">
    <img src="https://via.placeholder.com/300x250" alt="" class="w-100">
  </div>
</div>
