<div class="row">
  <% if @category.errors.any? %>
    <div class="col-md-12">
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= form_for @category, :html => { :class => "form-horizontal category" } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :title, :class => 'control-label' %>
                <%= f.text_field :title, :class => 'form-control', required:true %>
                <%=f.error_span(:title) %>
              </div>
            </div>
          </div>
          <% unless @category.new_record? %>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :slug, :class => 'control-label' %>
                <%= f.text_field :slug, :class => 'form-control', disable:true %>
                <%=f.error_span(:slug) %>
              </div>
            </div>
          </div>
          <% end %>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :parent_id, :class => 'control-label' %>
                <%= f.select :parent_id, Category.parent.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
                <%=f.error_span(:parent_id) %>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :desc, :class => 'control-label' %>
                <%= f.text_area :desc, :class => 'form-control',:ckeditor => {:removePlugins => 'forms,about,flash',:removeButtons => 'Image', :height => '300px'} %>
                <%=f.error_span(:desc) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <div class="form-group">
                <%= f.submit nil, :class => 'btn btn-success' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")), categories_path, :class => 'btn btn-light' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(".select2").select2();
  $("input[type='checkbox'], input[type='radio']").bootstrapSwitch();
</script>
