<%- model_class = Category -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">

  <div class="accordion" id="accordionExample">
    <% @categories.main_category.each do |x| %>
    <div class="card">
      <div class="card-header bg-dark d-flex align-items-center justify-content-between" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link text-light" type="button" data-toggle="collapse" data-target="#<%= x.slug %>" aria-expanded="true" aria-controls="<%= x.slug %>">
            <%= x.title %>
          </button>
        </h2>
        <div class="d-block">
          <%= link_to 'show',  category_path(x), :class => 'btn btn-default btn-xs', target:'_blank' %>
          <%= link_to 'edit',
          edit_category_path(x), :class => 'btn btn-warning btn-xs', target:'_blank' %>
          <button type="button" name="button" class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#<%= x.slug %>" aria-expanded="true" aria-controls="<%= x.slug %>">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div id="<%= x.slug %>" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class=""><%= model_class.human_attribute_name(:id) %></th>
                <th class=""><%= model_class.human_attribute_name(:title) %></th>
                <th class=""><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% x.children.each do |category| %>
              <tr>
                <td class=""><%= link_to category.id, category_path(category) %></td>
                <td class=""><%= category.title.upcase %></td>
                <td class="">
                  <% if x.slug == "event" %>
                  <a href="event?category=<%= category.slug %>" class="btn btn-default btn-xs", target="_blank">Show</a>
                  <% else %>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  category_path(category), :class => 'btn btn-default btn-xs', target: "blank" %>
                  <% end %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_category_path(category), :class => 'btn btn-warning btn-xs', target:'_blank' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  category_path(category),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>

  </div>

</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.table').DataTable();
  } );
</script>
