
<% if @first_five.first.nil? %>
<section id="category" class="pb-0">
  <div class="container text-center ">
    <h1 class="mb-3">Belum Ada Artikel</h1>
  </div>
  </section>

  <% else %>
  <section id="category" class="pb-0">
    <div class="container">
      <div class="category-title text-center">
        <h1 style="text-transform:uppercase">
          <%= @category.title %>
        </h1>
        <hr>

        <div class="d-flex justify-content-center" style="flex-wrap: wrap;">
          <a href="<%= category_path(@category.slug) %>" class="btn btn-outline-yellow m-1">All</a>
          <% @category.children.each do|x| %>
            <a href="<%= request.original_url %>?&category=<%= x.slug%>" class="btn btn-outline-yellow m-1" style="text-transform: uppercase;"  ><%= x.title %></a>
          <% end %>
        </div>
      </div>
      <div class="row row-custom">
        <div class="col-md-6 p-10">
          <div class="position-relative">
            <div class="ftr-category">
              <%= @first_five.first.category.title %>
            </div>
            <a href="<%= dtl_article_path(@first_five.first.category.parent.slug, @first_five.first.slug) %>" target="_blank">
            <img src="<%= @first_five.first.image.url(:medium_rectangle) %>" alt="" class="w-100">
            </a>
            <div class="ftr-title">
              <h3><a href="<%= dtl_article_path(@first_five.first.category.parent.slug, @first_five.first.slug) %>" target="_blank"><%= @first_five.first.title %></a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-10">
          <div class="row row-custom">
            <% @first_five.where.not(id: @first_five.first.id).limit(4).each do |x| %>
              <div class="col-md-6 p-10 pt-0">
              <div class="position-relative">
                <div class="ftr-category">
                  <%= x.category.title %>
                </div>
                <a href="<%= dtl_article_path(x.category.parent.slug, x.slug) %>" target="_blank">
                <img src="<%= x.image.url(:category_thumb) %>" alt="" class="w-100">
                </a>
                <div class="ftr-title">
                  <h5><a href="<%= dtl_article_path(x.category.parent.slug, x.slug) %>" target="_blank"><%= x.title %></a></h5>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mansory" class="pt-0">
    <div class="container" >
      <div class="row row-custom" id="articles">

        <% @all_article.each do |x| %>
        <% i =  [*0..4].sample %>
        <div class="col-md-4 p-10" style="order:<%= i   %> ">
          <div class="position-relative">
            <div class="ftr-category">
              <%= x.category.title %>
            </div>
            <a href="<%= dtl_article_path(x.category.parent.slug, x.slug) %>" target="_blank">
            <img src="<%= x.image.url(:ads_google) %>" alt="" class="w-100">
            </a>
            <div class="ftr-title">
              <h5><a href="<%= dtl_article_path(x.category.parent.slug, x.slug) %>" target="_blank"><%= x.title %></a></h5>
            </div>
          </div>
        </div>
        <% end %>

      <!--  <div class="col-md-4 p-10" style="order:<%#  [*0..4].sample  %>">
          <div class="position-relative">
            <img src="https://via.placeholder.com/300x250" alt="" class="w-100">
          </div>
        </div>
        <div class="col-md-4 p-10" style="order:<%#  [*0..4].sample   %>">
          <div class="position-relative">
            <img src="https://via.placeholder.com/300x250" alt="" class="w-100">
          </div>
        </div>
      </div>  -->
      <div class="text-center">
        <%= paginate @all_article, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </section>


<% end %>
