$('#load_more').replaceWith("<%= escape_javascript(link_to_next_page(@all_article, 'Muat Lebih Banyak', :remote => true, :id=>'load_more',class: "btn btn--ghost",param_name: :pg_ns))%>");
$('#articles').append("<%= escape_javascript(render 'categories/articles')%>");
