<%= form_for @socialmedium, :html => { :class => "form-horizontal socialmedium" } do |f| %>

<% if @socialmedium.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@socialmedium.errors.count, "error") %> prohibited this socialmedium from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @socialmedium.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="card">
  <div class="card-body">

    <div class="form-group">
      <%= f.label :title, :class => 'control-label' %>
      <%= f.text_field :title, :class => 'form-control' %>
      <%=f.error_span(:title) %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :link, :class => 'control-label' %>
          <%= f.text_field :link, :class => 'form-control' %>
          <%=f.error_span(:link) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :icon, :class => 'control-label' %>
          <%= f.text_field :icon, :class => 'form-control' %>
          <%=f.error_span(:icon) %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), socialmedia_path, :class => 'btn btn-default' %>
    </div>

    <% end %>
  </div>
</div>
