<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BebasAja Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper">
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header">
          <!-- This is for the sidebar toggle which is visible on mobile only -->
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
            <i class="ti-menu ti-close"></i>
          </a>
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <div class="navbar-brand">
            <a href="index.html" class="logo">
              <!--End Logo icon -->
              <!-- Logo text -->
              <span class="logo-text">
                <!-- dark Logo text -->
                <img src="/assets/icon-logo-admin.png" alt="homepage" class="dark-logo" />
                <!-- Light Logo text -->
                <img src="/assets/main-logo.png" class="light-logo" alt="homepage" style="height:77px" />
              </span>
            </a>
            <a class="sidebartoggler d-none d-md-block" href="javascript:void(0)" data-sidebartype="mini-sidebar">
              <i class="mdi mdi-toggle-switch mdi-toggle-switch-off font-20"></i>
            </a>
          </div>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Toggle which is visible on mobile only -->
          <!-- ============================================================== -->
          <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="ti-more"></i>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav float-left mr-auto">
        </ul>
        <ul class="navbar-nav float-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
              <img src="<%= asset_url('user.png') %>" alt="" class="rounded-circle" width="40">
              <span class="m-l-5 font-medium d-none d-sm-inline-block"><%= current_user.username %> <i class="fa fa-chevron-down"></i></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
              <span class="with-arrow">
                <span class="bg-primary"></span>
              </span>
              <div class="d-flex no-block align-items-center p-3 bg-primary text-white m-b-10">
                <div class="">
                  <img src="<%= asset_url('user.png') %>" alt="" class="rounded-circle" width="60">
                </div>
                <div class="ml-3">
                  <h4 class="mb-0"><%= current_user.username rescue '-' %></h4>
                  <p class="mb-0"><%= current_user.email %></p>
                </div>
              </div>
              <a class="dropdown-item" href="<%= user_path(current_user.id) %>">
                <i class="fa fa-user mr-3 ml-3"></i> My Profile</a>
                <div class="dropdown-cog"></div>
                <a class="dropdown-item" href="<%= edit_user_path(current_user.id) %>">
                  <i class="fa fa-cog mr-3 ml-3"></i> Account Setting</a>
                  <div class="dropdown-divider"></div>
                  <%= link_to destroy_user_session_path,:class => 'dropdown-item', :method => :delete do %>
                  <i class="fa fa-power-off mr-3 ml-3"></i> Logout</a>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="left-sidebar">
        <div class="scroll-sidebar">
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark" href="<%= dashboard_path %>">
                  <i class="fa fa-dashboard"></i>
                  <span class="hide-menu">Dashboard </span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-building-o"></i>
                  <span class="hide-menu">Articles</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= articles_path %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> All </span></a></li>
                  <li class="sidebar-item"><a href="<%= new_article_path %>" target="_blank" class="sidebar-link"><i class="fa fa-plus-circle"></i><span class="hide-menu"> New </span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-building-o"></i>
                  <span class="hide-menu">Events</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= events_path %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> All </span></a></li>
                  <li class="sidebar-item"><a href="<%= new_event_path %>" target="_blank" class="sidebar-link"><i class="fa fa-plus-circle"></i><span class="hide-menu"> New </span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-building-o"></i>
                  <span class="hide-menu">Category</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= all_category_path %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> All </span></a></li>
                  <li class="sidebar-item"><a href="<%= new_category_path %>"  target="_blank"class="sidebar-link"><i class="fa fa-plus-circle"></i><span class="hide-menu"> New </span></a></li>

                </ul>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-building-o"></i>
                  <span class="hide-menu">Directory</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= directories_path %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> All </span></a></li>
                  <li class="sidebar-item"><a href="<%= new_directory_path %>" target="_blank" class="sidebar-link"><i class="fa fa-plus-circle"></i><span class="hide-menu"> New </span></a></li>
                  <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                      <i class="fa fa-building-o"></i>
                      <span class="hide-menu">Category for Directory</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                      <li class="sidebar-item"><a href="<%= category_directories_path %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> All </span></a></li>
                      <li class="sidebar-item"><a href="<%= new_category_directory_path %>"  target="_blank"class="sidebar-link"><i class="fa fa-plus-circle"></i><span class="hide-menu"> New </span></a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <% if current_user.is_admin? %>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-building-o"></i>
                  <span class="hide-menu">Banner</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= banner_homepage_path %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> Banner Homepage </span></a></li>
                  <li class="sidebar-item"><a href="<%= banner_category_path %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> Banner in Page Category </span></a></li>
                  <li class="sidebar-item"><a href="<%= banner_article_path %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> Banner in Page Article </span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-building-o"></i>
                  <span class="hide-menu">User</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= users_path %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> All </span></a></li>
                  <li class="sidebar-item"><a href="<%= new_user_path %>" target="_blank" class="sidebar-link"><i class="fa fa-plus-circle"></i><span class="hide-menu"> New </span></a></li>
                  <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                      <i class="fa fa-building-o"></i>
                      <span class="hide-menu">List Social Media</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                      <li class="sidebar-item"><a href="<%= socialmedia_path %>" data-method="get" class="sidebar-link"><i class="fa fa-th-list"></i><span class="hide-menu"> All </span></a></li>
                      <li class="sidebar-item"><a href="<%= new_socialmedium_path %>"  target="_blank"class="sidebar-link"><i class="fa fa-plus-circle"></i><span class="hide-menu"> New </span></a></li>
                    </ul>
                  </li>
                </ul>
              </li>


              <% end %>


            </ul>
          </nav>
        </div>
      </aside>
      <div class="page-wrapper">
        <%= yield %>
      </div>
      <footer class="footer text-center">
        All Rights Reserved by Bebas Aja.
      </footer>
    </div>
  </body>
  </html>
