<!DOCTYPE html>
<html lang="id">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <% if @article.present? %>
  <link rel="canonical" href="<%= "#{request.protocol}#{request.host}#{dtl_article_path(@article.category.parent.slug, @article.slug)}" %>" >
  <% else %>
  <link rel="canonical" href="<%= "#{request.protocol}#{request.host}#{request.path}" %>">
  <% end %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets//ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js" charset="utf-8"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138071470-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138071470-1');
  </script>
  <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '369932740786721');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=369932740786721&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Bebas Aja",
  "alternateName": "Bebas Aja",
  "url": "https://bebasaja.com/",
  "logo": "https://bebasaja.com/assets/main-logo.png",
  "sameAs": [
    "https://www.facebook.com/bebasajacom",
    "https://www.instagram.com/bebasajacom/",
    "https://bebasaja.com/"
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "WebSite",
  "name": "Bebas Aja",
  "url": "https://bebasaja.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://bebasaja.com/search?search={search_term_string}",
  }
}
</script>


    <% if @event.present? %>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "<%= @event.title %>",
        "description": "<%= @event.metades %>",
        "image": "<%= request.protocol + request.host_with_port %><%= @event.image.url %>",
        "startDate": "<%= @event.start_date.strftime("%Y-%m-%d")%>T00:00",
        "endDate": "<%= @event.end_date.strftime("%Y-%m-%d")%>T23:59",
        "location": {
          "@type": "Place",
          "name": "<%= @event.venue %>",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "",
            "addressLocality": "",
            "postalCode": "",
            "addressCountry": "ID"
          }
        }
      }
    </script>
    <% end %>
    <% if @article.present? %>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "<%= @article.title %>",
        "image": {
          "@type": "ImageObject",
          "url": "<%= request.protocol + request.host_with_port %><%= @article.image.url %>",
          "width": 700 ,
          "height": 536
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= request.protocol + request.host_with_port %>/<%= @article.slug %>"
        },
        "description": "<%= @article.metades %>",
        "datePublished": "<%= @article.publish.strftime("%Y-%m-%d") rescue "-" %>",
        "dateModified": "<%= @article.updated_at.strftime("%Y-%m-%d") rescue "-" %>",
        "author": {
          "@type": "Person",
          "name": "<%= @article.user.full_name %>"
        },
        "publisher": {
          "@type": "Organization",
          "name": "BEBAS AJA",
          "logo": {
            "@type": "ImageObject",
            "url": "https://bebasaja.com/assets/main-logo.png",
            "width": 210,
            "height": 85
          }
        }
      }
    </script>

    <% end %>


</head>

<body>
  <div class="header p-2 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4 text-center">
          <a class="navbar-brand d-sm-block " href="<%= root_path %>">
            <img src="<%= asset_url('main-logo.png') %>" alt="" class="mw-100">
          </a>
        </div>
        <!-- <div class="col-md-8">
        <img src="https://via.placeholder.com/728x90" alt="" class="w-100">
      </div> -->
    </div>
  </div>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow p-0">
  <div class="container position-relative">
    <a class="navbar-brand d-sm-block d-lg-none ml-2" href="<%= root_path %>">
      <img src="<%= asset_url('main-logo.png') %>" alt="" class="mw-100">
    </a>
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="">
      <ul class="navbar-nav w-100 justify-content-between align-items-center" id="navbar">
        <li class="nav-item" >
          <a class="nav-link pl-0" href="<%= root_path %>"id="home-text">
            HOME
          </a>
          <a class="nav-link pl-0" href="<%= root_path %>" id="small-logo">
            <img src="<%= asset_url('logo-mini.png') %>" alt="bebas aja logo" style="height:30px;width:auto;" class="pl-0">
          </a>
        </li>
        <% Category.main_category.order(index: :asc).each do |x| %>
        <% unless x.slug == 'event' %>
        <li class="nav-item">
          <a class="nav-link" style="text-transform: uppercase;" href="<%= category_path(x.slug) %>"><%= x.title %></a>
        </li>
        <% else %>
        <div class="d-flex">
          <li class="nav-item bg-green">
            <a class="nav-link" href="<%= page_event_path %>" > <strong>EVENT</strong></a>
          </li>
          <li class="nav-item bg-green" >
            <a class="nav-link" href="javascript:void(0)" id="search-triger"><i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i></a>
          </li>
        </div>
        <% end %>
        <% end %>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

      <ul class="navbar-nav p-3" id="navbar">
        <a class="navbar-brand d-sm-block d-lg-none m-0" href="<%= root_path %>">
          <img src="<%= asset_url('main-logo.png') %>" alt="" class="mw-100">
          <hr>
        </a>
        <li class="nav-item mt-2 mb-4" >
          <form action="/search" method="get">
            <div class="d-flex">
              <input type="text" name="search" class="form-control" value="" placeholder="Type Keyword" style="background:#f8f9fa!important; border:none;border-bottom:3px solid #fec201;">
              <button type="submit" name="button" class="btn btn-primary "><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </form>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="<%= root_path %>"id="home-text">
            HOME
          </a>
        </li>
        <% Category.main_category.order(index: :asc).each do |x| %>
        <% unless x.slug == 'event' %>
        <li class="nav-item">
          <a class="nav-link" style="text-transform: uppercase;" href="<%= category_path(x.slug) %>"><%= x.title %></a>
        </li>
        <% else %>
        <li class="nav-item bg-green mb-1">
          <a class="nav-link" href="<%= page_event_path %>" > <strong>EVENT</strong></a>
        </li>
        <% end %>
        <% end %>
        <li>
          <hr>
        </li>

      </ul>
    </div>
    <div class="position-absolute w-100 d-none" id="search-bar">
      <form action="/search" method="get">
        <div class="d-flex">
          <input type="text" name="search" class="form-control search-input" value="" placeholder="Start typing &amp; press  &quot;Enter&quot;" style="background:#f8f9fa!important;">
          <a href="javascript:void(0)" id="form-close"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
      </form>
    </div>
  </div>
</nav>

<!-- <section class="pb-0">
<div class="container d-sm-block d-md-none">
<img src="https://via.placeholder.com/728x90" alt="" class="w-100">
</div>
</section> -->


<%= yield %>

<% if user_signed_in? %>
<div class="position-fixed" style="bottom: 35vh; right: 5vw;z-index:99;">
  <a href="<%= dashboard_path %>">
    <div class="d-flex shadow bg-warning justify-content-center align-items-center" style="height:50px;width:50px;border-radius:50%;">
      <i class="fa fa-fort-awesome" aria-hidden="true" style="color:white"> </i>
    </div>
  </a>
</div>

<div class="position-fixed" style="bottom: 25vh; right: 5vw;z-index:99;">
  <%= link_to destroy_user_session_path,:class => 'text-center', :method => :delete do %>
  <div class="d-flex shadow bg-danger justify-content-center align-items-center" style="height:50px;width:50px;border-radius:50%;">
    <i class="fa fa-sign-out" aria-hidden="true" style="color:white"> </i>
  </div>
  <% end %>
</div>
<% end %>



<section id="footer" class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="<%= asset_url('main-logo.png') %>" alt="" class="mw-100 mb-10" style="max-height:90px;">
        <p>
          Bebas Aja merupakan website bacaan ringan yang memberikan informasi dan rekomendasi mengenai tempat wisata, kuliner, gaya hidup, event, dan hal lainnya yang menarik.
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="title">Contact</h5>
        <p>
          Untuk say hello, kerjasama, Press Release, dan hal lainnya silahkan hubungi detail di bawah ini: <br>
          <a href="javascript:void(0)">e. hello@bebasaja.com</a>
        </p>
      </div>

      <div class="col-md-4">
        <h5 class="title">Subscribe our Newsletter</h5>
        <div class="newsletter mb-10">
          <!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
              /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup" style="background:#e6e6e6">
              <form action="https://bebasaja.us19.list-manage.com/subscribe/post?u=5956d55673d6e58199810165e&amp;id=c385ed38c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form " class="validate p-0" target="_blank" novalidate >
                <div id="mc_embed_signup_scroll" class="d-flex align-items-center">
                  <div class="w-75  mr-2 mb-0">
                    <label for="email" class="sr-only">email</label>
                    <input type="email" value="" name="EMAIL" class="form-control m-0" id="mce-EMAIL" placeholder="youremail@mail.com">
                  </div>
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary m-0">
                </div>
                <div id="mce-responses" class="clear d-">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5956d55673d6e58199810165e_c385ed38c3" tabindex="-1" value=""></div>
                <div class="clear"></div>
              </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email'; }(jQuery));var $mcj = jQuery.noConflict(true);</script>

          </div>
        </div>
        <div class="sosmed mb-3">
          <h5 class="title">Follow Us</h5>
          <div class="d-flex  align-items-center">
            <a href="https://web.facebook.com/bebasajacom?_rdc=1&_rdr" target="_blank" class="sosmed-icon mr-3"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
            <!-- <a href="https://twitter.com/bebasajacom" target="_blank" class="sosmed-icon mr-3"><i class="fa fa-twitter-square  fa-2x" aria-hidden="true"></i></a> -->
            <!-- <a href="#" class="sosmed-icon mr-3"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a> -->
            <a href="https://www.instagram.com/bebasajacom/" target="_blank" class="sosmed-icon mr-3"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <!-- <a href="#" class="sosmed-icon"><i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright text-center">
    Bebas AJA © 2020
  </div>
</section>
</body>
</html>
